@model IEnumerable<Realestate_portal.Models.Tb_Process>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CRM.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Property)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchase_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commission_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commissionperc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Closing_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Under_contract_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer_accepted_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inspection_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeofAgency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loan_Officer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attorneys_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creation_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_update)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_Customers.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Property)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commission_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commissionperc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Closing_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Under_contract_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offer_accepted_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inspection_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeofAgency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loan_Officer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attorneys_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creation_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_update)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_Customers.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Process }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Process }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Process })
        </td>
    </tr>
}

</table>
