@model List<Realestate_portal.Models.Tb_Docpackages>
@{
    ViewBag.Title = "Premium Group Realty";
}


<div class="container-fluid">
    <!-- Begin Page Header-->
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title"></h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="ti ti-home"></i></a></li>
                        <li class="breadcrumb-item active">DOCUMENTS UPLOAD</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
  
            <!-- Begin Widget 08 -->
            <div class="widget widget-08" style="width: 100%;background-color:transparent">
                <div class="widget-header bordered d-flex align-items-center">
                    <div class="today">
                        <div class="title">UPLOAD</div>
                        <div class="new-tasks">ALL YOUR TRANSACTION DOCUMENTS </div>
                    </div><h2></h2>
                          <div class="widget-options">
                              @if (ViewBag.rol == "Admin")
                            {
                          <a class="btn btn-shadow" href="#" data-toggle="modal" data-target="#modalNewwebinar">Add Document Package</a>


                          <a class="btn btn-shadow" href="@Url.Action("Documents_upload_management", "Portal")">Management</a>
                            }
                            else if (ViewBag.rol == "Agent")
                            {
                          <a class="btn btn-shadow" href="#" data-toggle="modal" data-target="#modalNewwebinar">Add Document Package</a>
                          <a class="btn btn-shadow" href="@Url.Action("Documents_upload_management", "Portal")">Management</a>
                            }
                            else
                            {
                          <a class="btn btn-shadow" href="#" data-toggle="modal" data-target="#modalNewwebinar">Add Document Package</a>


                          <a class="btn btn-shadow" href="@Url.Action("Documents_upload_management", "Portal")">Management</a>
                            }
                          </div>
                </div><br />
           
     
                        <!-- Begin Widget -->
                        <div class="widget has-shadow">

                            <!-- End Widget Header -->
                            <!-- Begin Widget Body -->
                            <div class="widget-body" style="padding-bottom:250px">
                                <!-- Begin Calendar -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-control-label">By Category</label>
                                        <select class="selectpicker show-menu-arrow" id="filterbycat" multiple>
                                            <option>BUYER</option>
                                            <option>SELLER</option>
                                            <option>DUAL AGENCY</option>
                                            <option>RENTAL LISTING</option>
                                            <optioN>RENTAL TENANT</optioN>
                                            <option>COMMERCIAL/INDUSTRIAL LISTING</option>
                                            <option>LAND</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="myInput" class="form-control" onkeyup="searchin_li()" placeholder="Type here to search" style="width:50%">
                                    </div>          
                                    <div class="col-md-3">
                                        <input type="date" id="dateSearch" class="form-control" style="width:60%">
                                        <button type="button" class="btn btn-shadow" id="searchByDate" value="submit">Search</button>
                                       
                                    </div>
                                </div>
                     
                                <!-- Begin List -->
                                @if (Model.Count > 0)
                                {
                                <div class="todo-list">
                                    <ul id="sortable" class="list">
                                        @foreach (var item in Model)
                                        {
                                          
                                            <li id="@item.Description">
                                                <a href="@Url.Action("Package_details","Portal", new { idpackage=item.ID_docpackage})">
                                                    <div id="@item.Category" class="styled-checkbox">
                                                        @if (item.Finished && item.Sent)
        {
                                                <input type="checkbox" id="pack_@item.ID_docpackage" readonly checked>
}
                                                   
                                                        <label class="text-primary" for="task-1">@item.Description | PROCESS ID: @item.ID_Process |CATEGORY: @item.Category </label><br />
                                                        <label class="badge-text-small">Last update: @Convert.ToDateTime(item.Last_update).ToShortDateString()</label> | <label class="badge-text-small">Total Documents (@item.Total_docsf/@item.Total_docs)</label>
                                                    
                                                   </div>
                                                </a>
                                        </li>
                                          

                                        }
                            

                                    </ul>
                                </div>
                                }
                                else {
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <label>No data to show</label>
                                }
                                <!-- End List -->
                                <!-- End Calendar -->
                               
                            </div>
                            <!-- End Calendar -->
                        </div>
                        <!-- End Widget -->
        
               

            </div>

    </div>

    <!-- End Container -->



    <div id="modalNewwebinar" class="modal fade">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Document Package</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">close</span>
                    </button>
                </div>
                <form id="htmlform" method="post">
                    <div class="modal-body">
                        <div class="row">
                            @*<div class="col-7">
                                <div class="form-group">
                                    <label>Package Name *</label>
                                    <input type="text" class="form-control" id="title" placeholder="Name to identify easily your documents package" required />
                                </div>
                            </div>*@
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Category *</label>
                                    <select id="category" class="form-control" required>
                                        <option value="1">BUYER</option>
                                        <option value="3">SELLER</option>
                                        <option value="5">DUAL AGENCY</option>
                                        <option value="6">RENTAL LISTING</option>
                                        <option value="7">RENTAL TENANT</option>
                                        <option value="9">COMMERCIAL/INDUSTRIAL LISTING</option>
                                        <option value="11">LAND</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Property *</label>
                                    @Html.DropDownList("ID_Property", null, htmlAttributes: new { @class = "form-control" })
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                        <button type="submit" id="subbtnenviar" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        document.getElementById("searchByDate").onclick = function () { searchByDate() };
        function searchByDate() {
            var date = $('#dateSearch').val();
            window.location.href = "/Portal/Documents_upload?date=" + date;

        };
       
        window.onload = function () {
                    $('#htmlform').on('submit', function (event) {
                        $("#subbtnenviar").attr("disabled", true);
                        event.preventDefault();

                        $("#preloader").show();

                        var formData = new FormData();

                        var title = $("#ID_Property option:selected").html();//$("#title").val();
                        var idcategory = $("#category").val();
                        var customer = 0;
                        var property = $('#ID_Property').val();
                        var category = $("#category option:selected").html();



                        formData.append("title", title);
                        formData.append("category", category);
                        formData.append("customer", customer);
                        formData.append("property", property);
                        formData.append("idpackage", idcategory);



                        $.ajax({
                            type: "POST",
                            url: '/Portal/newPackage',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response == "SUCCESS") {
                                    $("#preloader").hide();
                                    $("#subbtnenviar").attr("disabled", false);

                                    new Noty({
                                        type: 'success',
                                        layout: 'topRight',
                                        text: 'Document Package added successfully',
                                        progressBar: true,
                                        timeout: 2500
                                    }).show()
                                    setTimeout(function () {
                                        window.location.reload(true);
                                    }, 2000);

                                } else {
                                    $("#preloader").hide();
                                    $("#subbtnenviar").attr("disabled", false);
                                    alert(response);
                                }
                            },
                            error: function (error) {
                                $("#preloader").hide();
                                $("#subbtnenviar").attr("disabled", false);
                                alert("Error uploading package");
                            }
                        });
                    });


                    $(function () {
                        $('#filterbycat').change(function (e) {
                            var selected = $(e.target).val();
                            if (selected == "") {

                            } else {
                                $("#myInput").val('');
                            }



                            filterbycategory(selected);
                        });
                    });

  
                
                };


        function searchin_li() {
            // Declare variables

            if ($('#filterbycat').val() != "") {
                $('#filterbycat').val(-1).trigger("change");
            }

         

            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("sortable");

            if (ul==null) {

            } else {

                li = ul.getElementsByTagName('li');

                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li.length; i++) {
                    a = li[i].id
                        ;
                    txtValue = a;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }

        }


            function filterbycategory(values) {

            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = values;
            ul = document.getElementById("sortable");

            if (ul == null){

            } else {
                li = ul.getElementsByTagName('li');

                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("div")[0];
                    txtValue = a.id;

                    if (filter == "") {
                        li[i].style.display = "";
                    } else {

                        if (filter.indexOf(txtValue) > -1) {
                            li[i].style.display = "";
                        } else {
                            li[i].style.display = "none";
                        }
                    }


                }
            }


        }

    </script>