@model List<Realestate_portal.Models.Tb_Docpackages>
@{
    ViewBag.Title = "S7VEN";
}

<div id="basic-non-sticky-notification-content" class="toastify-content hidden flex">
    <i class="text-theme-20" data-feather="check-circle"></i>
    <div class="ml-4 mr-4">
        <div class="font-medium">Data saved successfully!</div>

    </div>
</div>

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Documents History
    </h2>
</div>
<div class="grid grid-cols-12 gap-12 mt-5">
    <div class="intro-y col-span-12 lg:col-span-12">
        <!-- BEGIN: Basic Table -->
        <div class="intro-y box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200">
                <h2 class="font-medium text-base mr-auto">
                    Documents History
                </h2>
                <div id="reportrange" class="form-control box pl-10" style="width:300px">
                    <i data-feather="calendar" class="w-4 h-4 z-10 absolute my-auto inset-y-0 ml-3 left-0"></i>&nbsp;
                    <span></span>
                </div>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                    @if (ViewBag.rol == "Admin")
        {
            <a class="btn btn-success" href="#" data-toggle="modal" data-target="#modalNewwebinar">Add Document Package</a>


            <a class="btn btn-shadow" href="@Url.Action("Documents_upload_management", "Portal")">Management</a>
}
else if (ViewBag.rol == "Agent")
{
            <a class="btn btn-success" href="#" data-toggle="modal" data-target="#modalNewwebinar">Add Document Package</a>
            <a class="btn btn-shadow" href="@Url.Action("Documents_upload_management", "Portal")">Management</a>
}
else
{
            <a class="btn btn-success" href="#" data-toggle="modal" data-target="#modalNewwebinar">Add Document Package</a>


            <a class="btn btn-shadow" href="@Url.Action("Documents_upload_management", "Portal")">Management</a>
}
                </div>
            </div>
            <div class="p-5" id="basic-table">
                <div class="preview">
                    <div class="overflow-x-auto">
                        <table class="table table-report sm:mt-2" id="tableresources">
                            <thead>
                                <tr class="text-white" style="background-color:#162343">
                                    <th class="whitespace-nowrap">
                                        PACKAGE ID
                                    </th>
                                    <th class="whitespace-nowrap">
                                        DESCRIPTION
                                    </th>
                                    <th class="whitespace-nowrap">
                                        CATEGORY
                                    </th>

                                    <th class="whitespace-nowrap">
                                        PROPERTY ID
                                    </th>
                                    <th class="whitespace-nowrap">
                                        LAST UPDATE
                                    </th>
                                    <th class="whitespace-nowrap">
                                        TOTAL DOCUMENTS
                                    </th>
                                    <th class="whitespace-nowrap">
                                        STATUS
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID_docpackage</td>
                                        <td> <a href="@Url.Action("Package_details","Portal", new { idpackage=item.ID_docpackage})" class="font-medium whitespace-nowrap"><i data-feather="link" class="w-4 h-4 mr-1"></i> @item.Description</a></td>
                                        <td>@item.Category</td>
                                        <td>@item.ID_Property</td>
                                        <td>@Convert.ToDateTime(item.Last_update).ToShortDateString()</td>
                                        <td>(@item.Total_docsf/@item.Total_docs)</td>
                                        <td>
                                            @if (item.Finished && item.Sent)
                                            {
                                                <label class="px-2 py-1 rounded-full bg-theme-20 text-white mr-1">COMPLETED</label>
                                            }
                                            else
                                            {<label class="px-2 py-1 rounded-full bg-theme-15 mr-1">IN PROGRESS</label>}
                                        </td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END: Basic Table -->
<!-- Begin Calendar -->
@*<div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <label class="form-control-label">By Category</label>
            <select class="selectpicker show-menu-arrow" id="filterbycat" multiple>
                <option>BUYER</option>
                <option>SELLER</option>
                <option>DUAL AGENCY</option>
                <option>RENTAL LISTING</option>
                <optioN>RENTAL TENANT</optioN>
                <option>COMMERCIAL/INDUSTRIAL LISTING</option>
                <option>LAND</option>
            </select>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <input type="text" id="myInput" class="form-control" onkeyup="searchin_li()" placeholder="Type to search" style="width:50%">
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <label class="form-control-label">Date range</label>
            <select class="selectpicker show-menu-arrow" id="dateRange" style="width:60%">
                <option></option>
                <option value="3">Last 3 months</option>
                <option value="6">Last 6 months</option>
                <option value="12">Last 12 months</option>
                <option value="24">Last 24 months</option>
                <option value="36">Last 36 months</option>
            </select>
            <button type="button" class="btn btn-shadow" id="searchByDate" value="submit">Search</button>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">From</span>
                </div>
                <input type="date" id="startDate" class="form-control" value="01-01-2018" />
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">To</span>
                </div>
                <input type="date" id="endDate" class="form-control" value="23-6-2021" />
            </div>
            <button type="button" class="btn btn-shadow" id="searchRangeDate" value="submit">Search</button>
        </div>
    </div>*@



<div id="modalNewwebinar" class="modal fade">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Package</h4>

            </div>
            <form id="htmlform" method="post">
                <div class="modal-body">
                    <div class="row">
                        @*<div class="col-7">
                                <div class="form-group">
                                    <label>Package Name *</label>
                                    <input type="text" class="form-control" id="title" placeholder="Name to identify easily your documents package" required />
                                </div>
                            </div>*@
                        <div class="col-12">
                            <div class="form-group">
                                <label>Category *</label>
                                <select id="category" class="form-control" required>
                                    <option value="1">BUYER</option>
                                    <option value="3">SELLER</option>
                                    <option value="5">DUAL AGENCY</option>
                                    <option value="6">RENTAL LISTING</option>
                                    <option value="7">RENTAL TENANT</option>
                                    <option value="9">COMMERCIAL/INDUSTRIAL LISTING</option>
                                    <option value="11">LAND</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Property *</label>
                                @Html.DropDownList("ID_Property", null, htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                    <button type="submit" id="subbtnenviar" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<button id="basic-non-sticky-notification-toggle" style="display:none" class="btn btn-primary">Show Notification</button>

<script type="text/javascript">
        //document.getElementById("searchByDate").onclick = function () { searchByDate() };
        //function searchByDate() {
        //    var date = $('#dateRange').val();
        //    window.location.href = "/Portal/Documents_upload?date=" + date;

        //};
            @*document.getElementById("searchRangeDate").onclick = function () { searchbyRange() };
            function searchbyRange() {

                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();

                if (startDate == "" || endDate == "") {
                    alert("Please select a date.");
                }
                else {
                    if (startDate > endDate) {
                        alert("Please select a correct date.");
                    }
                    else {
                        var url = '@Url.Action("Documents_uploadCopy", "Portal")';
                        url += '?dateOpen=' + startDate + '&dateClose=' + endDate;
                        console.log(url);
                        window.location.href = url;
                    }

                }
            }*@

    window.onload = function () {
        $("#tableresources").DataTable();
                    $('#htmlform').on('submit', function (event) {
                        $("#subbtnenviar").attr("disabled", true);
                        event.preventDefault();

                  

                        var formData = new FormData();

                        var title = $("#ID_Property option:selected").html();//$("#title").val();
                        var idcategory = $("#category").val();
                        var customer = 0;
                        var property = $('#ID_Property').val();
                        var category = $("#category option:selected").html();



                        formData.append("title", title);
                        formData.append("category", category);
                        formData.append("customer", customer);
                        formData.append("property", property);
                        formData.append("idpackage", idcategory);



                        $.ajax({
                            type: "POST",
                            url: '/Portal/newPackage',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response == "SUCCESS") {
                                    $("#preloader").hide();
                                    $("#subbtnenviar").attr("disabled", false);
                                    var link = document.getElementById('basic-non-sticky-notification-toggle');
                                    link.click();
                                    window.location.reload(true);
                                } else {
                                
                                    $("#subbtnenviar").attr("disabled", false);
                                    alert(response);
                                }
                            },
                            error: function (error) {
                             
                                $("#subbtnenviar").attr("disabled", false);
                                alert("Error uploading package");
                                window.location.reload(true);
                            }
                        });
                    });


                    $(function () {
                        $('#filterbycat').change(function (e) {
                            var selected = $(e.target).val();
                            if (selected == "") {

                            } else {
                                $("#myInput").val('');
                            }



                            filterbycategory(selected);
                        });
                    });


        var flag = 0;
       //DATETIMEPICKER
 var t1 = "@ViewBag.filtrofechastart";
        var t2 = "@ViewBag.filtrofechaend";

        var start = moment(t1, "MM-DD-YYYY");
        var end = moment(t2, "MM-DD-YYYY");

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            if (flag == 0) {
                flag = 1;
            } else {
                filterSObydate();
            }


        }

        $('#reportrange').daterangepicker({

            startDate: start,
            endDate: end,
            autoApply: false,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);



        function filterSObydate() {
            var st = new Date($('#reportrange').data('daterangepicker').startDate);
            var ed = new Date($('#reportrange').data('daterangepicker').endDate);

            //st = st.toLocaleDateString();
            //ed = ed.toLocaleDateString();
            ////colocamos la url de la demo



            var today = st;
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            st = mm + '/' + dd + '/' + yyyy;

            var today2 = ed;
            var dd2 = today2.getDate();
            var mm2 = today2.getMonth() + 1; //January is 0!

            var yyyy2 = today2.getFullYear();
            if (dd2 < 10) {
                dd2 = '0' + dd2;
            }
            if (mm2 < 10) {
                mm2 = '0' + mm2;
            }
            ed = mm2 + '/' + dd2 + '/' + yyyy2;

            var url = '@Url.Action("Documents_upload", "Portal", new { fstartd = "dad", fendd="tfe" })';
            url = url.replace('dad', st);
            var newurl = url;
            newurl = newurl.replace('tfe', ed);

            newurl = newurl.replace(/&amp;/g, "&");

            window.location.href = newurl;
        };

                };


        function searchin_li() {
            // Declare variables

            if ($('#filterbycat').val() != "") {
                $('#filterbycat').val(-1).trigger("change");
            }



            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("sortable");

            if (ul==null) {

            } else {

                li = ul.getElementsByTagName('li');

                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li.length; i++) {
                    a = li[i].id
                        ;
                    txtValue = a;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }

        }


            function filterbycategory(values) {

            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = values;
            ul = document.getElementById("sortable");

            if (ul == null){

            } else {
                li = ul.getElementsByTagName('li');

                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("div")[0];
                    txtValue = a.id;

                    if (filter == "") {
                        li[i].style.display = "";
                    } else {

                        if (filter.indexOf(txtValue) > -1) {
                            li[i].style.display = "";
                        } else {
                            li[i].style.display = "none";
                        }
                    }


                }
            }


        }

</script>