@model List<Realestate_portal.Models.Tb_Docpackages_details>

@{
    ViewBag.Title = "Premium Group Realty";
    var package = (Realestate_portal.Models.Tb_Docpackages) ViewBag.package;
    var property = (Realestate_portal.Models.Tb_Process) ViewBag.property;
    var customer = (Realestate_portal.Models.Tb_Customers) ViewBag.customer;
    var modelcount = Model.Where(a => a.mandatory == true).Count();
}


<div class="container-fluid">
    <!-- Begin Page Header-->
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title"></h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="ti ti-home"></i></a></li>
                        <li class="breadcrumb-item active">Documents Upload</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <div class="col-xl-12">
            <!-- Sorting -->
            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <div class="today">
                        <div class="title">Document Package Details</div>
                        <div class="new-tasks">                                 <label class="text-primary" for="task-1">@package.Description.ToUpper() | PROPERTY ID: @property.ID_Property - @property.Address | CUSTOMER: @customer.Name.ToUpper() @customer.LastName.ToUpper() |CATEGORY: @package.Category</label><br /> </div>
                    </div><h2></h2>
                    <div class="widget-options">
                        @if (Model.Count > 0)
                        {
                            if (Model.Where(a => a.uploaded == true && a.mandatory==true).Count() == modelcount) {
                                  <a class="btn btn-success"  id ="sendtoBroker" >Send to Broker</a>
                            }

                        }
                      
                    </div>
                </div>
              
                <div class="widget-body">
                    <div class="table-responsive">
                        <table id="tableresources" class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Document ID</th>
                                    <th>Title</th>
                                    <th>Required</th>
                                    <th>Uploaded</th>
                                    <th>Document</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="text-primary">@item.ID_Detail</span></td>
                            <td><span class="text-primary">@item.Title</span></td>
                            <td>
                                @if (item.mandatory)
                    {
                        <label class="badge badge-success">YES</label>
        }
        else
        {
            <label class="badge badge-secondary">NO</label>
}
                        </td>


                        <td>
                            @if (item.uploaded)
                {
                    <label class="badge badge-success">YES</label>
    }
    else
    {
            <label class="badge badge-warning">NO</label>
}
                    </td>

                    <td>
                        @if (item.uploaded)
            {
                               if (item.Extension == ".pdf")
                               {
                        <a href="@Url.Action("Showpdf_docspackage","Portal", new { id=item.ID_Detail})" target="_blank">
                            <div class="c-icon">


                                <i class="la la-file-pdf-o"></i>


                            </div>
                        </a>
                               }
                               else {
                        <a href="@Url.Action("DownloadDocPackage","Portal", new { id=item.ID_Detail})">
                            <div class="c-icon">


                         


                                <i class="la la-file-word-o"></i>

                            </div>
                        </a>
                               }
                      
            }
            else
            {
                <label>-</label>
}
                </td>

                <td class="td-actions">
                    <input type="file" class="form-control fileToUpload" id="file_@item.ID_Detail" />
                </td>
            </tr>
}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End Sorting -->

        </div>
    </div>
    <!-- End Row -->
</div>
<!-- End Container -->


<script type="text/javascript">
    window.onload = function () {
        $("#tableresources").DataTable();
    }

</script>
<script type="text/javascript">
     var broker = document.getElementById("sendtoBroker");
        broker.onclick= function () {
            
            var idpack = '@package.ID_docpackage';
            var data = { idpackage: idpack};
            $.ajax({
              url:'@Url.Action("SendPackage", "Portal")',
                type: 'POST',
                data: data,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                processData: true,
                success: function (response) {
                    if (response == "SUCCESS") {
                        new Noty({
                            type: 'success',
                            layout: 'topRight',
                            text: 'Document Package sent successfully',
                            progressBar: true,
                            timeout: 2500
                        }).show()
                        setTimeout(function () {
                        }, 2000);
                    } else {
                        new Noty({
                            type: 'success',
                            layout: 'topRight',
                            text: response,
                            progressBar: true,
                            timeout: 2500
                        }).show()
                        setTimeout(function () {
                        }, 2000);
                    }

                },
                error: function (response) {
                    alert(response);
                }
            });

        }


</script>


<script type="text/javascript">
    window.onload = function () {
        $(".fileToUpload").on('change', function () {
            ///// Your code
            var id = $(this).attr("id");
            var idtosave = id.substring(5);
            $("#preloader").show();

            var formData = new FormData();
            var file = document.getElementById(id).files[0];
           


            formData.append("imageUploadForm", file);
            formData.append("ids", idtosave);

            $.ajax({
                type: "POST",
                url: '/Portal/Uploadfile',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response == "SUCCESS") {
                        $("#loader_form").hide();

                        new Noty({
                            type: 'success',
                            layout: 'topRight',
                            text: 'File uploaded successfully',
                            progressBar: true,
                            timeout: 2500
                        }).show()
                        setTimeout(function () {
                            window.location.reload(true);
                        }, 2000);

                    } else {
                        $("#loader_form").hide();
       
                        alert(response);
                    }
                },
                error: function (error) {
                    $("#loader_form").hide();
     
                    alert("Error uploading file");
                }
            });
        });





    };


</script>