@model List<Realestate_portal.Models.Tb_Network>
@{
    ViewBag.Title = "Premium Group Realty - PGR Management";
    List<Realestate_portal.Models.Tb_Options> lstcategories = (List<Realestate_portal.Models.Tb_Options>)ViewBag.categories;
}
<div id="basic-non-sticky-notification-content" class="toastify-content hidden flex">
    <i class="text-theme-20" data-feather="check-circle"></i>
    <div class="ml-4 mr-4">
        <div class="font-medium">Data saved successfully!</div>

    </div>
</div>

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Network
    </h2>
</div>
<div class="grid grid-cols-12 gap-12 mt-5">
    <div class="intro-y col-span-12 lg:col-span-12">
        <!-- BEGIN: Basic Table -->
        <div class="intro-y box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200">
                <h2 class="font-medium text-base mr-auto">
                    Network Management
                </h2>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">

                </div>
            </div>
            <div class="p-5" id="basic-table">
                <div class="preview">
                    <div class="overflow-x-auto">
                        <table class="table table-report sm:mt-2" id="tableresources">
                            <thead>
                                <tr class="text-white" style="background-color:#162343">
                                    <th class="whitespace-nowrap">
                                        NETWORK ID
                                    </th>
                                    <th class="whitespace-nowrap">
                                        TITLE
                                    </th>
                                    <th class="whitespace-nowrap">
                                        DESCRIPTION
                                    </th>

                                    <th class="whitespace-nowrap">
                                        URL
                                    </th>
                                    <th class="whitespace-nowrap">
                                        CATEGORY
                                    </th>
                                    <th class="whitespace-nowrap">
                                        ACTIONS
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID_Network</td>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@item.Category</td>
                                        <td>@item.Url</td>

                                        <td>
                                            <div class="flex justify-center items-center">

                                                <a class="flex items-center mr-3" data-toggle="modal" data-target="#modalEditvideo" onclick="editimage('@item.ID_Network','@item.Name','@item.Category','@item.Description.Replace("'","").Replace("\r\n", "").Replace("\n", "").Replace("\r", "")')"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>

                                                <a class="flex items-center text-theme-21" href="@Url.Action("DeleteNetwork","Portal", new { id=item.ID_Network })"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                            </div>

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END: Basic Table -->
<!-- BEGIN: Bordered Table -->

<div id="modalEditvideo" class="modal fade">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit PGR Network</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">close</span>
                </button>
            </div>
            <form id="htmlform" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Title *</label>
                                <input type="text" class="form-control" id="titlevideo" required />
                                <input type="text" class="form-control" id="idvideo" hidden />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Category *</label>
                                <select id="categoryvideo" class="form-control" required>
                                    @foreach (var item in lstcategories)
                                    {
                                        <option value="@item.Description">@item.Description</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Description *</label><br /><small class="text-danger">Please, check text format before you save the changes</small>
                                <textarea id="descriptionvideo" class="form-control" style="white-space: pre-line !important" required></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Image</label>
                                <input type="file" id="imageUpload" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                    <button type="submit" id="subbtnenviar" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<button id="basic-non-sticky-notification-toggle" style="display:none" class="btn btn-primary">Show Notification</button>

@if (ViewBag.token != null && ViewBag.token != "")
{
    if (ViewBag.token == "success")
    {
        <script>
            window.onload = function () {
                var link = document.getElementById('basic-non-sticky-notification-toggle');
                link.click();
            };


        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#tableresources").DataTable();


                $('#htmlform').on('submit', function (event) {
                    $("#subbtnenviar").attr("disabled", true);
                    event.preventDefault();

                    $("#preloader").show();


                    var formData = new FormData();
                    var file = document.getElementById("imageUpload").files[0];
                    var id = $("#idvideo").val();
                    var title = $("#titlevideo").val();
                    var category = $("#categoryvideo").val();
                    var description = $.trim($("#descriptionvideo").val());
                    var url = "-";

                    formData.append("imageUploadForm", file);
                    formData.append("title", title);
                    formData.append("id", id);
                    formData.append("category", category);
                    formData.append("description", description);
                    formData.append("url", url);


                    $.ajax({
                        type: "POST",
                        url: '/Portal/EditNetwork',
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response == "SUCCESS") {
                                $("#loader_form").hide();
                                $("#subbtnenviar").attr("disabled", false);

                                new Noty({
                                    type: 'success',
                                    layout: 'topRight',
                                    text: 'Information updated successfully',
                                    progressBar: true,
                                    timeout: 2500
                                }).show()
                                setTimeout(function () {
                                    window.location.reload(true);
                                }, 2000);

                            } else {
                                $("#loader_form").hide();
                                $("#subbtnenviar").attr("disabled", false);
                                alert(response);
                            }
                        },
                        error: function (error) {
                            $("#loader_form").hide();
                            $("#subbtnenviar").attr("disabled", false);
                            alert("Error uploading information");
                        }
                    });
                });
            }
            function editimage(id, title, cat, descr) {

                var ID_video = id;// Extract info from data-* attributes
                var title = title;// Extract info from data-* attributes
                var Category = cat;
                var Description = descr;


                $("#idvideo").val(ID_video);
                $("#titlevideo").val(title);
                $("#categoryvideo").val(Category);
                $("#descriptionvideo").text(Description);



            }
        </script>
    }

}
else
{
    <script type="text/javascript">
        window.onload = function () {
            $("#tableresources").DataTable();


            $('#htmlform').on('submit', function (event) {
                $("#subbtnenviar").attr("disabled", true);
                event.preventDefault();

                $("#preloader").show();


                var formData = new FormData();
                var file = document.getElementById("imageUpload").files[0];
                var id = $("#idvideo").val();
                var title = $("#titlevideo").val();
                var category = $("#categoryvideo").val();
                var description = $.trim($("#descriptionvideo").val());
                var url = "-";

                formData.append("imageUploadForm", file);
                formData.append("title", title);
                formData.append("id", id);
                formData.append("category", category);
                formData.append("description", description);
                formData.append("url", url);


                $.ajax({
                    type: "POST",
                    url: '/Portal/EditNetwork',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response == "SUCCESS") {
                            $("#loader_form").hide();
                            $("#subbtnenviar").attr("disabled", false);

                            new Noty({
                                type: 'success',
                                layout: 'topRight',
                                text: 'Information updated successfully',
                                progressBar: true,
                                timeout: 2500
                            }).show()
                            setTimeout(function () {
                                window.location.reload(true);
                            }, 2000);

                        } else {
                            $("#loader_form").hide();
                            $("#subbtnenviar").attr("disabled", false);
                            alert(response);
                        }
                    },
                    error: function (error) {
                        $("#loader_form").hide();
                        $("#subbtnenviar").attr("disabled", false);
                        alert("Error uploading information");
                    }
                });
            });
        }
        function editimage(id, title, cat, descr) {

            var ID_video = id;// Extract info from data-* attributes
            var title = title;// Extract info from data-* attributes
            var Category = cat;
            var Description = descr;


            $("#idvideo").val(ID_video);
            $("#titlevideo").val(title);
            $("#categoryvideo").val(Category);
            $("#descriptionvideo").text(Description);



        }
    </script>
}
