@model List<Realestate_portal.Models.Tb_Webinars>
@{
    ViewBag.Title = "Premium Group Realty - Management Resources";
}


    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title"></h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item active">Bookings</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-xl-12">
                <!-- Sorting -->
                <div class="widget has-shadow">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Booking Management</h4>
                    </div>
                    <div class="widget-body">
                        @if (TempData["advertencia"] != null)
    {
                    <div class="alert alert-outline-warning dashed" role="alert">
                        @TempData["advertencia"]
                    </div><br />
}

                        @if (TempData["exito"] != null)
    {
                    <div class="alert alert-outline-success dashed" role="alert">
                        @TempData["exito"]
                    </div><br />
}

                        <div class="table-responsive">
                            <table id="tableresources" class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Broker</th>
                                        <th>Title</th>
                                        <th>Date</th>
                                        <th>Date end</th>
                                        <th>Comments</th>
                                 
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                {
                    <tr>
                        <td><span class="text-primary">@item.ID_Webinar</span></td>
                        <td>@item.Sys_Company.Name</td>
                        <td>@item.Title</td>
                        <td>@item.Date.ToShortDateString() @item.Date.ToShortTimeString()</td>
                        <td>@item.Date_end.ToShortDateString() @item.Date_end.ToShortTimeString()</td>
                        <td>@item.Description</td>
                   


                        <td class="td-actions">
                            @*<a href="#"><i class="la la-edit edit"></i></a>*@
                            <a href="@Url.Action("DeleteWebinar","Portal", new { id=item.ID_Webinar })"><i class="la la-close delete"></i></a>
                            @*<a href="@Url.Action("Edit","Booking", new { id=item.ID_Webinar })"><i class="la la-eye edit"></i></a>*@
                        </td>
                    </tr>
}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End Sorting -->

            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->

    
<script type="text/javascript">
        window.onload = function () {
            $("#tableresources").DataTable();
        }

</script>