@model List<Realestate_portal.Models.Tb_Resources>
@{
    ViewBag.Title = "Premium Group Realty - Management Resources";
}


    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title"></h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item active">Resources</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-xl-12">
                <!-- Sorting -->
                <div class="widget has-shadow">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Resources Management</h4>
                    </div>
                    <div class="widget-body">
                        @if (TempData["advertencia"] != null)
    {
                    <div class="alert alert-outline-warning dashed" role="alert">
                        @TempData["advertencia"]
                    </div><br />
}

                        @if (TempData["exito"] != null)
    {
                    <div class="alert alert-outline-success dashed" role="alert">
                        @TempData["exito"]
                    </div><br />
}

                        <div class="table-responsive">
                            <table id="tableresources" class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Document ID</th>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>Category</th>
                                        <th>Last Update</th>
                                        <th>Downloads</th>
                                        <th>Company</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                {
                    <tr>
                        <td><span class="text-primary">@item.ID_Resource</span></td>
                        <td>@item.Name  </td>
                        <td><span class="badge badge-success" style="font-size:12px;">@item.Type</span></td>
                        <td>@item.Doc_type</td>
                        <td>@item.Last_update.ToShortDateString()</td>
                        <td>@item.Times_downloaded</td>
                        <td>@item.Sys_Company.Name</td>

                        <td class="td-actions">
                         
                            <a href="@Url.Action("DeleteResource","Portal", new { id=item.ID_Resource })"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End Sorting -->

            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->

    
<script type="text/javascript">
        window.onload = function () {
            $("#tableresources").DataTable();
        }

</script>