@model Realestate_portal.Models.Tb_Customers

@{
    ViewBag.Title = "Dashboard CRM";
    List<Realestate_portal.Models.Tb_Process> listings = (List<Realestate_portal.Models.Tb_Process>)ViewBag.listings;
    List<Realestate_portal.Models.Tb_Docpackages> packages = (List<Realestate_portal.Models.Tb_Docpackages>)ViewBag.docpackages;
    List<Realestate_portal.Models.Tb_LeadDocs> lstotherdocs = (List<Realestate_portal.Models.Tb_LeadDocs>)ViewBag.otherDocs;
    List<Realestate_portal.Models.ViewModels.CRM.TeamsModel_Users> agents = (List<Realestate_portal.Models.ViewModels.CRM.TeamsModel_Users>)ViewBag.Agents;
    List<Realestate_portal.Models.Sys_Users> agentsadd = (List<Realestate_portal.Models.Sys_Users>)ViewBag.agentsadd;
    Realestate_portal.Models.Tb_WorkTeams team = (Realestate_portal.Models.Tb_WorkTeams)ViewBag.Team;
    List<Realestate_portal.Models.ViewModels.NotesView> lstnotes = (List<Realestate_portal.Models.ViewModels.NotesView>)ViewBag.notes;
    List<Realestate_portal.Models.Tb_Status> lststatus = (List<Realestate_portal.Models.Tb_Status>)ViewBag.lststatus;
    List<Realestate_portal.Models.Tb_Source> lstsource = (List<Realestate_portal.Models.Tb_Source>)ViewBag.lstsource;
    List<Realestate_portal.Models.Tb_Docpackages> lstdockpackages = (List<Realestate_portal.Models.Tb_Docpackages>)ViewBag.docpackages;
    List<Realestate_portal.Models.ViewModels.TasksView> lsttasks = (List<Realestate_portal.Models.ViewModels.TasksView>)ViewBag.tasks;
    Realestate_portal.Models.Sys_Users user = (Realestate_portal.Models.Sys_Users)ViewBag.activeuser;
}
<div id="basic-non-sticky-notification-content" class="toastify-content hidden flex">
    <i class="text-theme-20" data-feather="check-circle"></i>
    <div class="ml-4 mr-4">
        <div class="font-medium">Data saved successfully!</div>

    </div>
</div>


<!-- BEGIN: Content -->
<div class="content content--top-nav ">
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Lead's Dashboard
        </h2>

        <a class="btn btn-primary" href="@Url.Action("Leads", "CRM")">Back to Leads</a>
    </div>
    <div class="pos intro-y grid grid-cols-12 gap-5 mt-5">
        <!-- BEGIN: Post Content -->
        <div class="intro-y col-span-12 lg:col-span-12">
          
            <div class="post intro-y overflow-hidden box mt-5">
                <div class="post__tabs nav nav-tabs flex-col sm:flex-row bg-gray-300 dark:bg-dark-2 text-gray-600" role="tablist">
                    <a  data-toggle="tab"  data-target="#content"   href="javascript:;" class=" w-full sm:w-40 py-4 text-center flex justify-center items-center active" id="content-tab" role="tab" aria-controls="content" aria-selected="true"> <i data-feather="align-left" class="w-4 h-4 mr-2"></i> Overview </a>
                    <a data-toggle="tab" data-target="#properties"  href="javascript:;" class=" w-full sm:w-40 py-4 text-center flex justify-center items-center" id="properties-tab" role="tab" aria-selected="false"> <i data-feather="home" class="w-4 h-4 mr-2"></i> Properties </a>
                    <a  data-toggle="tab" data-target="#documents" href="javascript:;" class=" w-full sm:w-40 py-4 text-center flex justify-center items-center" id="documents-tab" role="tab" aria-selected="false"> <i data-feather="file-text" class="w-4 h-4 mr-2"></i> Documents </a>
                    <a  data-toggle="tab" data-target="#tasks" href="javascript:;" class=" w-full sm:w-40 py-4 text-center flex justify-center items-center" id="tasks-tab" role="tab" aria-selected="false"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Tasks </a>
                 
                    <a  data-toggle="tab" data-target="#teams" href="javascript:;" class=" w-full sm:w-40 py-4 text-center flex justify-center items-center" id="teams-tab" role="tab" aria-selected="false"> <i data-feather="users" class="w-4 h-4 mr-2"></i> Agents </a>
                </div>
                <div class="post__content tab-content">
                    <div id="teams" class="tab-pane p-5 " role="tabpanel" aria-labelledby="teams-tab">
                        <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
                            <h2 class="text-lg font-medium mr-auto">
                                Team
                            </h2>
                             @if (user.Team_Leader)
                            {
                                  <a href="@Url.Action("Teams","CRM")"  class="btn btn-primary block w-40 mx-auto mt-5">Go to Teams</a>
                            }
                            else {
                                if (!user.Roles.Contains("Agent")) {
                                      <a href="@Url.Action("Teams","CRM")" class="btn btn-primary block w-40 mx-auto mt-5">Go to Teams</a>
                                }
                            }
                           
                        </div>
                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-12">
                            <div class="text-gray-600 dark:text-gray-500">Assigned Team</div>
                            <div class="mt-1.5 flex items-center">

                                @if (team.Name == null)
            {
                    <div class="text-lg"> - </div>
}
else
{
if (team.Name == "")
{
                    <div class="text-lg"> - </div>
}
else
{
                    <div class="text-lg"> @team.Name </div>
}
}
                            </div>
                        </div>

                        <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
                            <h2 class="text-lg font-medium mr-auto">
                                Agents
                            </h2>
                            @if (user.Team_Leader)
                            {
                                  <a href="javascript:void(0);" data-toggle="modal" data-target="#NewAgent-modal" class="btn btn-success block w-40 mx-auto mt-5">Assign Agent</a>
                            }
                            else {
                                if (!user.Roles.Contains("Agent")) {
                                      <a href="javascript:void(0);" data-toggle="modal" data-target="#NewAgent-modal" class="btn btn-success block w-40 mx-auto mt-5">Assign Agent</a>
                                }
                            }
                          
                        </div>
                        <div id="NewAgent-modal" class="modal modal-slide-over" data-backdrop="static" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @using (Html.BeginForm("AddAgentToCustomer", "Teams", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <!-- BEGIN: Slide Over Header -->
                    <div class="modal-header">
                        <h2 class="font-medium text-base mr-auto">
                            Assign agents
                        </h2>

                        <div class="dropdown sm:hidden">
                            <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false"> <i data-feather="more-horizontal" class="w-5 h-5 text-gray-600 dark:text-gray-600"></i> </a>
                            <div class="dropdown-menu w-40">
                                <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                                    <a href="javascript:;" class="flex items-center p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Download Docs </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END: Slide Over Header -->
                    <!-- BEGIN: Slide Over Body -->
                    <div class="modal-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <input type="text" value="@Model.ID_Customer" name="idcustomer" id="idcustomer"/>
                        <div class="mt-3">
                            <label for="agents" class="form-label">Agents</label>
                            <select data-placeholder="Search here.." class="tom-select w-full" id="agents" name="agents" multiple>
                                @foreach (var item in agentsadd)
            {
                    <option value="@item.ID_User">@item.Name @item.LastName - (@item.Email)</option>
}

                            </select>
                        </div>
                        

                    </div>
                    <!-- END: Slide Over Body -->
                    <!-- BEGIN: Slide Over Footer -->
                    <div class="modal-footer text-right w-full absolute bottom-0">
                        <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                        <button type="submit" class="btn btn-success w-20">Save</button>
                    </div>
                    <!-- END: Slide Over Footer -->
}
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-12">
                            <div class="text-gray-600 dark:text-gray-500">Assigned Agents</div>
                            <div class="flex ml-4">
                                @if (agents.Count() > 0)
            {
                    <table class="table table-report sm:mt-2">
                        <thead>
                            <tr class="text-white" style="background-color:#162343">
                                <th></th>
                                <th>Name</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var agent in agents.Where(c=>c.Id_Team == 0))
        {
                    <tr>
                        <td>
                            <div class="w-12 h-12 image-fit zoom-in -ml-4">
                                @if (agent.Url_image == "")
            {
                    <div class="tooltip text-lg image-fit zoom-in font-medium truncate" title="@agent.Name @agent.Lastname"> <p data-letters="@agent.Name.Substring(0,1) @agent.Lastname.Substring(0, 1)"></p></div>
}
else if (agent.Url_image.StartsWith("http"))
{
                    <img alt="@agent.Name" class="tooltip rounded-full" src="@agent.Url_image" title="@agent.Name @agent.Lastname">
}
else
{
                    <img alt="@agent.Name" class="tooltip rounded-full" src="@Url.Content(agent.Url_image)" title="@agent.Name @agent.Lastname">
}

                            </div>
                        </td>
                        <td>@agent.Name @agent.Lastname</td>
                        <td>@agent.Email</td>
                        <td>
                            <a class="flex items-center text-theme-21" href="javascript:void(0)" onclick="deleteagent(@Model.ID_Customer,@agent.Id_User)"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete</a>
                        </td>
                    </tr>

}
                        </tbody>
                    </table>


}
else
{
                    <label>Not assigned</label>
}
                            </div>
                        </div>

                    </div>                  
                    <div id="tasks" class="tab-pane p-5 " role="tabpanel" aria-labelledby="tasks-tab">
                        <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
                            <h2 class="text-lg font-medium mr-auto">
                                Tasks
                            </h2>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#medium-slide-over-size-preview" class="btn btn-success block w-40 mx-auto mt-5">New Task</a>
                            <!-- BEGIN: Medium Slide Over Content -->
                            <div id="medium-slide-over-size-preview" class="modal modal-slide-over" data-backdrop="static" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header p-5">
                                            <h2 class="font-medium text-base mr-auto">
                                                New Task
                                            </h2>
                                        </div>
                                        <div class="modal-body">
                                            @using (Html.BeginForm("CreateCD", "Tasks", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="mt-3"> <label for="Title" class="form-label">Title</label> <input id="Title" name="Title" type="text" class="form-control" placeholder="" required> </div>
                        <div class="mt-3"> <label for="Description" class="form-label">Description</label> <input id="Description" name="Description" type="text" class="form-control" placeholder="" required> </div>
                        <div class="mt-3">
                            <label for="ID_Customer" class="form-label">Customer</label>
                            <select id="ID_Customer" name="ID_Customer" class="form-control">
                               
                        <option selected value="@Model.ID_Customer">@Model.Name @Model.LastName</option>

                            </select>
                        </div>
                        <div class="mt-3"> <label for="Description" class="form-label">Date to complete</label> <input id="Createdat" name="Createdat" type="date" class="form-control" required> </div>
                        <div class="mt-3">
                            <label for="agents" class="form-label">Agent</label>
                            <select data-placeholder="Search here.." class="tom-select w-full" id="ID_User" name="ID_User" required>
                                @foreach (var item in agents)
        {
                        <option value="@item.Id_User">@item.Name @item.Lastname (@item.Email)</option>
}

                            </select>
                        </div>
                        <button type="submit" class="btn btn-success block w-40 mx-auto mt-5">Add Task</button>
}
                                        </div>
                                        <div class="modal-footer text-right w-full absolute bottom-0">
                                            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END: Medium Slide Over Content -->
                        </div>
                        <div class="col-md-12">

                            <div class="p-5">
                                <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                                    @if (lsttasks.Count() > 0)
        {
                            <table class="table table-report sm:mt-2">
                                <thead>
                                    <tr>
                                        <th class="whitespace-nowrap"></th>
                                        <th class="whitespace-nowrap">AGENT</th>
                                        <th class="whitespace-nowrap">TASK</th>
                                        <th class="whitespace-nowrap">CUSTOMER</th>
                                        <th class="whitespace-nowrap">DATE TO COMPLETE</th>
                                        <th class="whitespace-nowrap">STATUS</th>
                                        <th class="text-center whitespace-nowrap">ACTIONS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in lsttasks.OrderByDescending(c => c.Lastupdate))
        {
                                    <tr class="intro-x">
                                        <td>
                                            <div class="flex">
                                                @if (item.Url_image == "")
            {
                                    <div class="tooltip text-lg -ml-4 font-medium truncate " title="@item.Name @item.Lastname">   <p data-letters="@item.Name.Substring(0, 1) @item.Lastname.Substring(0, 1)"></p></div>

}
else if (item.Url_image.StartsWith("http"))
{
                                    <div class="w-12 h-12 image-fit zoom-in -ml-4  ">
                                        <img alt="@item.Name @item.Lastname" class="tooltip rounded-full" src="@item.Url_image" title="@item.Name  @item.Lastname">

                                    </div>
}
else
{
                                    <div class="w-12 h-12 image-fit zoom-in -ml-4 ">
                                        <img alt="@item.Name @item.Lastname" class="tooltip rounded-full" src="@Url.Content(item.Url_image)" title="@item.Name @item.Lastname">

                                    </div>
}
                                            </div>
                                        </td>
                                        <td><label>@item.Name @item.Lastname</label></td>

                                        <td>
                                            <a href="javascript:void(0)" class="font-medium">@item.Title</a>

                                        </td>
                                        <td>
                                            <label>@item.Customer</label>
                                        </td>

                                        <td>@item.Lastupdate.ToString("MM/dd/yyyy")</td>
                                        <td>
                                            @if (item.Finished)
        {
                                    <input style="border-color:#7c7a7a !important" class="form-check-switch text-align-right ml-5 checktask" id="@item.ID_task" type="checkbox" checked>
}
else
{ <input class="form-check-switch text-align-right ml-5 checktask" style="border-color:#7c7a7a !important" id="@item.ID_task" type="checkbox">}


                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" onclick="deleteTask(@item.ID_task)" class="btn btn-sm btn-danger ml-auto">Delete</a>
                                        </td>


                                    </tr>
}

                                   
                                </tbody>
                            </table>
}
else
{

                            <div class="sm:flex items-center">
                                <img src="~/Content/dist/images/nodata-found.png" style="width:600px" />

                                <div class="preview">

                                 

                                </div>
                            </div>

}
                                </div>
                                </div>
                            </div>
                        </div>
                        <div id="properties" class="tab-pane p-5 " role="tabpanel" aria-labelledby="properties-tab">
                            <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
                                <h2 class="text-lg font-medium mr-auto">
                                    Properties
                                </h2>
                                <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
                                    <a href="javascript:void(0);" class="btn btn-success shadow-md mr-2" data-toggle="modal" data-target="#propertywindow">Add New Property</a>

                                </div>
                            </div>

                            <!-- BEGIN: Blog Layout -->
                            @if (listings.Count > 0)
        {
                    <div class="intro-y grid grid-cols-12 gap-6 mt-5">
                        @foreach (var item in listings)
    {

                    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
                        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
                            <div class="ml-3 mr-auto">
                                <a href="" class="font-medium">@item.Address</a>
                            </div>
                            <div class="dropdown ml-3">
                                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                                <div class="dropdown-menu w-40">
                                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                                        <a href="@Url.Action("Edit","Properties", new { id=item.ID_Process})" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Property </a>
                                        @*<a href="javascript:void(0)" data-toggle="modal" data-target="#updatepropertywindow" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Property </a>*@
                                        <a href="javascript:void(0)" onclick="deleteListing(@item.ID_Process)" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Property </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-5">
                            <div class="h-40 2xl:h-56 image-fit">
                                <img alt="S7VEN" class="rounded-md" src="~/Content/dist/images/noimageavailable.jpg" style="object-fit:contain">
                            </div>
                            <a href="" class="block font-medium text-base mt-5">Purchase price: $@item.Purchase_price</a>
                        </div>

                        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
                            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                                <div class="mr-2"> Status: <span class="font-medium">@item.Property</span> </div>
                                <div class="mr-2"> Stage: <span class="font-medium">@item.Stage</span> </div>

                            </div>

                        </div>
                    </div>


}
                    </div>
}
else
{
                    <div class="col-md-12">
                        <div class="sm:flex items-center">
                            <img src="~/Content/dist/images/nodata-found.png" style="width:600px" />

                            <div class="preview">

                                <div class="alert alert-outline-secondary alert-dismissible show flex items-center mb-2" role="alert">
                                    <i data-feather="alert-octagon" class="w-6 h-6 mr-2"></i> Start adding a new Property

                                </div>

                            </div>
                        </div>
                    </div>
}

                        </div>
                        <div id="documents" class="tab-pane p-5 " role="tabpanel" aria-labelledby="documents-tab">
                            <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
                                <h2 class="text-lg font-medium mr-auto">
                                    Other Documents
                                </h2>
                                <div class="w-full sm:w-auto flex mt-4 sm:mt-0">

                                </div>
                            </div>

                            <!-- BEGIN: Directory & Files -->


                            <div id="resourcesindividual" class="tab-pane flex flex-col lg:flex-row active" role="tabpanel" aria-labelledby="resourcesindividual">
                                <div class="col-md-3">

                                    <!-- BEGIN: File Manager Menu -->
                                    <div class="intro-y box p-5 mt-6">
                                        <div class="mt-1">

                                            <div class="pricing-tabs nav nav-tabs box rounded-full overflow-hidden" role="tablist">
                                                <a id="layout-1-monthly-fees-tab" data-toggle="tab" data-target="#resourcesindividual2" href="javascript:;" class="flex-1 w-32 lg:w-40 py-2 lg:py-3 whitespace-nowrap text-center active" role="tab" aria-controls="layout-1-monthly-fees" aria-selected="true"> Other Documents</a>
                                                <a id="layout-1-annual-fees-tab" data-toggle="tab" data-target="#resourcesteam2" href="javascript:;" class="flex-1 w-32 lg:w-40 py-2 lg:py-3 whitespace-nowrap text-center" role="tab" aria-controls="layout-1-annual-fees" aria-selected="false"> Closing Documents</a>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- END: File Manager Menu -->
                                </div>
                                <div class="col-md-9">

                                    <div class="tab-content">
                                        <div id="resourcesindividual2" class="tab-pane active" role="tabpanel" aria-labelledby="resourcesindividual2">
                                            <div class="intro-y block sm:flex items-center h-10">

                                                <div class="row">
                                                    <a href="javascript:void(0);" class="btn btn-success shadow-md mr-2" data-toggle="modal" data-target="#newDocument">Add New Document</a>
                                                    <div id="newDocument" class="modal modal-slide-over" data-backdrop="static" tabindex="-1" aria-hidden="true">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                @using (Html.BeginForm("Create", "LeadDocs", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="modal-header p-5">
                                                    <h2 class="font-medium text-base mr-auto">
                                                        New Document
                                                    </h2>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="Title" class="form-label">Title</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="Title" name="Title" required />
                                                        <label for="Url" class="form-label">File</label>
                                                    </div>
                                                    <div>
                                                        <input type="text" class="form-control" id="Url" name="Url" required style="display:none" />
                                                        <input type="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.jpg,.png" class="form-control documentfile" id="File" />
                                                    </div>

                                                    <label id="lblsuccessdoc"></label>
                                                    <input style="display:none" type="text" id="Id_CustomerDoc" name="Id_CustomerDoc" value="@Model.ID_Customer" />
                                                </div>
                                                <!-- BEGIN: Slide Over Footer -->
                                                <div class="modal-footer text-right w-full absolute bottom-0">
                                                    <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                                                    <button type="submit" class="btn btn-success w-20">Save</button>
                                                </div>
                                                <!-- END: Slide Over Footer -->
                        }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (lstotherdocs.Count() > 0)
                        {
                            <div class="intro-y grid grid-cols-12 gap-3 sm:gap-6 mt-5">

                                @foreach (var item in lstotherdocs)
            {
                    <div id="id_@item.Id_Document" class="intro-y col-span-6 sm:col-span-4 md:col-span-3 2xl:col-span-2 sortableDocs">
                        <div class="file box rounded-md px-5 pt-8 pb-5 px-3 sm:px-5 relative zoom-in">

                            @if (item.Extension == ".pdf")
        {
            if (item.Url.StartsWith("http"))
            {

                    <a href="@item.Url" target="_blank" class="w-3/5 file__icon file__icon--image mx-auto">
                        <div class="file__icon--image__preview image-fit">
                            <img alt="S7VEN" src="~/Content/dist/images/preview-8.jpg">
                        </div>
                    </a>
                    <a href="@item.Url" target="_blank" class="block font-medium mt-4 text-center truncate">@(item.Title + "" + item.Extension)</a>

}
else
{

                    <a href="@Url.Action("Showpdflead", "CRM", new { id = item.Id_Document })" target="_blank" class="w-3/5 file__icon file__icon--image mx-auto">
                        <div class="file__icon--image__preview image-fit">
                            <img alt="S7VEN" src="~/Content/dist/images/preview-8.jpg">
                        </div>
                    </a>
                    <a target="_blank" href="@Url.Action("Showpdflead", "CRM", new { id = item.Id_Document })" class="block font-medium mt-4 text-center truncate">@(item.Title + "" + item.Extension)</a>

}
}
else
{
if (item.Url.StartsWith("http"))
{

                    <a href="@item.Url" target="_blank" class="w-3/5 file__icon file__icon--image mx-auto">
                        <div class="file__icon--image__preview image-fit">
                            <img alt="S7VEN" src="~/Content/dist/images/preview-8.jpg">
                        </div>
                    </a>
                    <a href="@item.Url" target="_blank" class="block font-medium mt-4 text-center truncate">@(item.Title + "" + item.Extension)</a>

}
else
{

                    <a href="@Url.Action("DownloadDoclead", "CRM", new { id = item.Id_Document })" target="_blank" class="w-3/5 file__icon file__icon--image mx-auto">
                        <div class="file__icon--image__preview image-fit">
                            <img alt="S7VEN" src="~/Content/dist/images/preview-8.jpg">
                        </div>
                    </a>
                    <a href="@Url.Action("DownloadDoclead", "CRM", new { id = item.Id_Document })" class="block font-medium mt-4 text-center truncate">@(item.Title + "" + item.Extension)</a>
}

}

                            <div class="text-gray-600 text-xs text-center mt-0.5">@item.Upload_Date.Value.ToShortDateString()</div>


                        </div>
                    </div>}
                            </div>

    }
    else
    {
                    <div class="col-md-12">
                        <div class="sm:flex items-center">
                            <img src="~/Content/dist/images/nodata-found.png" style="width:600px" />

                            <div class="preview">

                                <div class="alert alert-outline-secondary alert-dismissible show flex items-center mb-2" role="alert">
                                    <i data-feather="alert-octagon" class="w-6 h-6 mr-2"></i> Start adding a new Document

                                </div>

                            </div>
                        </div>
                    </div>


}
                                        </div>
                                        <div id="resourcesteam2" class="tab-pane" role="tabpanel" aria-labelledby="resourcesteam2">
                                            <div class="row">
                                                <a href="javascript:void(0)" class="btn btn-success" data-toggle="modal" data-target="#modalNewwebinar">Add Closing Package</a>

                                            </div>
                                            <div class="row">



                                                <div class="p-5" id="basic-table">
                                                    <div class="preview">
                                                        <div class="overflow-auto lg:overflow-visibl">
                                                            <table class="table table-report sm:mt-2" id="tableresources">
                                                                <thead>
                                                                    <tr class="text-white" style="background-color:#162343">
                                                                        <th class="whitespace-nowrap">
                                                                            PACKAGE ID
                                                                        </th>
                                                                        <th class="whitespace-nowrap">
                                                                            DESCRIPTION (Click to see details)
                                                                        </th>
                                                                        <th class="whitespace-nowrap">
                                                                            CATEGORY
                                                                        </th>

                                                                        <th class="whitespace-nowrap">
                                                                            PROPERTY ID
                                                                        </th>
                                                                        <th class="whitespace-nowrap">
                                                                            LAST UPDATE
                                                                        </th>
                                                                        <th class="whitespace-nowrap">
                                                                            TOTAL DOCUMENTS
                                                                        </th>
                                                                        <th class="whitespace-nowrap">
                                                                            STATUS
                                                                        </th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in lstdockpackages)
                                                {
                                                    <tr>
                                                        <td>@item.ID_docpackage</td>
                                                        <td><a href="@Url.Action("Package_detailsCD","Portal", new { idpackage=item.ID_docpackage})" class="font-medium whitespace-nowrap"><i data-feather="link" class="w-4 h-4 mr-1"></i> @item.Description</a></td>
                                                        <td>@item.Category</td>
                                                        <td>@item.ID_Property</td>
                                                        <td>@Convert.ToDateTime(item.Last_update).ToShortDateString()</td>
                                                        <td>(@item.Total_docsf/@item.Total_docs)</td>
                                                        <td>
                                                            @if (item.Finished && item.Sent)
                                        {
                                            <label class="px-2 py-1 rounded-full bg-theme-20 text-white mr-1">COMPLETED</label>
                    }
                    else
                    {<label class="px-2 py-1 rounded-full bg-theme-15 mr-1">IN PROGRESS</label>}
                                                        </td>


                                                    </tr>
                            }
                                                                </tbody>
                                                            </table>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>



                                <!-- END: Directory & Files -->
                            </div>


                        </div>
                        <div id="content" class="tab-pane p-5 active" role="tabpanel" aria-labelledby="content-tab">
                            <!-- BEGIN: Profile Menu -->
                            <div class="col-md-3">
                                <div class="intro-y box mt-5 lg:mt-0">
                                    <div class="relative flex items-center p-5">
                                        <div class="bg-white dark:bg-dark-3 xl:sticky top-0 px-5 pt-5 pb-6">
                                            <div class="flex items-center">

                                                <div class="text-lg font-medium truncate mr-5">   <p data-letters="@Model.Name.Substring(0, 1) @Model.LastName.Substring(0, 1)"></p></div>

                                            </div>
                                        </div>
                                        <div class="ml-4 mr-auto">
                                            <div class="font-medium text-base">@Model.Name @Model.LastName </div>

                                        </div>
                                        @*<div class="dropdown">
                            <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false"> <i data-feather="more-horizontal" class="w-5 h-5 text-gray-600 dark:text-gray-300"></i> </a>
                            <div class="dropdown-menu w-56">
                                <div class="dropdown-menu__content box dark:bg-dark-1">
                                    <div class="p-4 border-b border-gray-200 dark:border-dark-5 font-medium">Export Options</div>
                                    <div class="p-2">
                                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="activity" class="w-4 h-4 text-gray-700 dark:text-gray-300 mr-2"></i> English </a>
                                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                                            <i data-feather="box" class="w-4 h-4 text-gray-700 dark:text-gray-300 mr-2"></i> Indonesia
                                            <div class="text-xs text-white px-1 rounded-full bg-theme-21 ml-auto">10</div>
                                        </a>
                                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="layout" class="w-4 h-4 text-gray-700 dark:text-gray-300 mr-2"></i> English </a>
                                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="sidebar" class="w-4 h-4 text-gray-700 dark:text-gray-300 mr-2"></i> Indonesia </a>
                                    </div>
                                    <div class="px-3 py-3 border-t border-gray-200 dark:border-dark-5 font-medium flex">
                                        <button type="button" class="btn btn-primary py-1 px-2">Settings</button>
                                        <button type="button" class="btn btn-secondary py-1 px-2 ml-auto">View Profile</button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                                    </div>
                                    <div class="p-5 border-t border-gray-200 dark:border-dark-5">
                                        <a class="flex items-center text-theme-25 mb-5 font-medium" href="javascript:void(0)"> <i data-feather="user" class="w-4 h-4 mr-2"></i> Personal Information </a>
                                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-12 mt-3">
                                            <div class="text-gray-600 dark:text-gray-500">Address</div>
                                            <div class="mt-1.5 flex items-center">
                                                @if (Model.Address == "")
                            {
                                                      <input type="text" name="Address"  class="form-control" placeholder="Address" disabled/>

        }
        else
        {  <input type="text" name="Address"  class="form-control" value="@Model.Address" disabled/>
                                                }

                                            </div>
                                        </div>
                                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-12">
                                            <div class="text-gray-600 dark:text-gray-500">Telephone</div>
                                            <div class="mt-1.5 flex items-center">
                                                @if (Model.Phone == "")
                            {
                                <input type="text" name="Phone"  class="form-control" placeholder="Telephone" disabled/>
        }
        else
        {   <input type="text" name="Phone"  class="form-control" value="@Model.Phone" disabled/>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-12">
                                            <div class="text-gray-600 dark:text-gray-500">Email</div>
                                            <div class="mt-1.5 flex items-center">
                                                @if (Model.Email == "")
    {
                                            <input type="email" name="Email" class="form-control" placeholder="Email" disabled />
}
else
{ <input type="email" name="Email" class="form-control" value="@Model.Email" disabled/>
}
                                            </div>
                                        </div>
                                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-12">
                                            <div class="text-gray-600 dark:text-gray-500">Source</div>
                                            <div class="mt-1.5 flex items-center">

                                                @if (Model.Source == null || Model.Source == "")
    {<input type="text" name="Source" class="form-control" placeholder="Source" disabled />}
else
{ <input type="text" name="Source" class="form-control" value="@Model.Source" disabled />}
                                            </div>
                                        </div>

                                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-12">
                                            <div class="text-gray-600 dark:text-gray-500">Stage</div>
                                            <div class="mt-1.5 flex items-center">

                                                <select id="stagecustomer" class="w-full form-control">
                                                    @foreach (var item in lststatus)
                                {
                                    if (Model.Marital_status == item.Stage_name)
                                    {
                                        <option selected>@item.Stage_name</option>
                }
                else
                {
                    <option>@item.Stage_name</option>
}
}
                                                </select>
                                            </div>
                                        </div>

                                        <a class="flex items-center mt-5 mb-5 text-theme-25 font-medium" href="javascript:void(0)"> <i data-feather="users" class="w-4 h-4 mr-2"></i> Team </a>
                                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-12">
                                            <div class="text-gray-600 dark:text-gray-500">Assigned Team</div>
                                            <div class="mt-1.5 flex items-center">

                                                @if (team.Name == null)
                            {
                                <div class="text-lg"> - </div>
        }
        else
        {
            if (team.Name == "")
            {
                    <div class="text-lg"> - </div>
}
else
{
                    <div class="text-lg"> @team.Name </div>
}
}
                                            </div>
                                        </div>
                                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-12">
                                            <div class="text-gray-600 dark:text-gray-500">Assigned Agents</div>
                                            <div class="flex ml-4">
                                                @if (agents.Count() > 0)
                            {
                                foreach (var agent in agents)
                                {
                                                <div class="w-12 h-12 image-fit zoom-in -ml-4">
                                                    @if (agent.Url_image == "")
    {
                                                <div class="tooltip text-lg image-fit zoom-in font-medium truncate" title="@agent.Name @agent.Lastname"> <p data-letters="@agent.Name.Substring(0,1) @agent.Lastname.Substring(0, 1)"></p></div>
}
else if (agent.Url_image.StartsWith("http"))
{
                                                <img alt="@agent.Name" class="tooltip rounded-full" src="@agent.Url_image" title="@agent.Name @agent.Lastname">
}
else
{
                                                <img alt="@agent.Name" class="tooltip rounded-full" src="@Url.Content(agent.Url_image)" title="@agent.Name @agent.Lastname">
}

                                                </div>
            }

        }
        else
        {
                    <label>Not assigned</label>
}
                                            </div>
                                        </div>

                                        <a href="@Url.Action("Edit","Customers", new { id=Model.ID_Customer })" class="btn btn-primary mt-8" >Edit information</a>

                                    </div>

                                </div>
                                @*<div class="intro-y box p-5 bg-theme-25 text-white mt-5">
                    <div class="flex items-center">
                        <div class="font-medium text-lg">Important Update</div>
                        <div class="text-xs bg-white dark:bg-theme-25 dark:text-white text-gray-800 px-1 rounded-md ml-auto">New</div>
                    </div>
                    <div class="mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
                    <div class="font-medium flex mt-5">
                        <button type="button" class="btn py-1 px-2 border-white text-white dark:border-gray-700 dark:text-gray-300">Take Action</button>
                        <button type="button" class="btn py-1 px-2 border-transparent text-white dark:text-gray-500 ml-auto">Dismiss</button>
                    </div>
                </div>*@
                            </div>
                            <!-- END: Profile Menu -->
                            <!-- BEGIN: Daily Sales -->
                            <div class="intro-y box col-md-6">
                                <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200 dark:border-dark-5">
                                    <h2 class="font-medium text-base mr-auto">
                                        Notes
                                    </h2>

                                    <a href="javascript:;" data-toggle="modal" data-target="#small-slide-over-size-preview" class="btn btn-outline-secondary hidden sm:flex"> <i data-feather="edit" class="w-4 h-4 mr-2"></i> Add Note </a>
                                    <div id="small-slide-over-size-preview" class="modal modal-slide-over" data-backdrop="static" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                @using (Html.BeginForm("Create", "Notes", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-header p-5">
                                    <h2 class="font-medium text-base mr-auto">
                                        New Note
                                    </h2>
                                </div>
                                <div class="modal-body">
                                    <textarea class="form-control" id="Text" name="Text" required></textarea>
                                    <input style="display:none" type="text" id="ID_Customer" name="ID_Customer" value="@Model.ID_Customer" />
                                </div>
                                <!-- BEGIN: Slide Over Footer -->
                                <div class="modal-footer text-right w-full absolute bottom-0">
                                    <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                                    <button type="submit" class="btn btn-success w-20">Save</button>
                                </div>
                                <!-- END: Slide Over Footer -->
        }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-5">
                                    <div class="report-timeline mt-5 relative">
                                        @if (lstnotes.Count > 0)
                    {
                        foreach (var item in lstnotes.OrderByDescending(c => c.Date))
                        {
                            <div class="intro-x relative flex items-center mb-3">
                                <div class="report-timeline__image">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        @if (item.Url_image == "")
                    {
                        <div class="tooltip text-lg  image-fit zoom-in font-medium truncate " title="@item.Created_By">   <p data-letters="@item.Created_By.Substring(0, 1)"></p></div>
}
else if (item.Url_image.StartsWith("http"))
{
                    <img alt="@item.Created_By" class="tooltip rounded-full" src="@item.Url_image" title="@item.Created_By">
}
else
{
                    <img alt="@item.Created_By" class="tooltip rounded-full" src="@Url.Content(item.Url_image)" title="@item.Created_By">
}

                                    </div>
                                </div>
                                <div class="box px-5 py-3 ml-4 flex-1 zoom-in">
                                    <div class="flex items-center">
                                        <div class="font-medium">@item.Created_By</div>
                                        <div class="text-xs text-gray-500 ml-auto">@item.Date.ToLongDateString()</div>
                                    </div>
                                    <div class="text-gray-600 mt-1">@item.Text</div>
                                    <div class="flex items-center">

                                        <a href="javascript:void(0)" onclick="deleteNote(@item.ID_note)" class="btn btn-sm btn-danger ml-auto">Delete</a>
                                    </div>
                                </div>
                            </div>
    }
}
else
{
                    <div class="sm:flex items-center">
                        <img src="~/Content/dist/images/nodata-found.png" style="width:600px" />

                        <div class="preview">

                            <div class="alert alert-outline-secondary alert-dismissible show flex items-center mb-2" role="alert">
                                <i data-feather="alert-octagon" class="w-6 h-6 mr-2"></i> Start adding a new Note

                            </div>

                        </div>
                    </div>
}

                                    </div>
                                </div>
                            </div>
                            <!-- END: Daily Sales -->
                            <!-- BEGIN: Announcement -->
                            <div class="intro-y col-md-3">

                                <div class="tiny-slider">
                                    <div class="p-5">
                                        <div class="text-base 2xl:text-lg justify-center sm:justify-start flex items-center leading-3 "> Projected Gains  </div>
                                        <div class="2xl:flex mt-5 mb-3">
                                            <div class="flex items-center justify-center sm:justify-start">
                                                <div class="relative text-2xl 2xl:text-3xl font-medium leading-6 pl-3 2xl:pl-4"> <span class="absolute text-xl 2xl:text-2xl top-0 left-0 -mt-1 2xl:mt-0">$</span> @ViewBag.totalgainsprojected </div>

                                            </div>
                                            <div class="mt-5 2xl:flex 2xl:justify-center 2xl:mt-0 2xl:-ml-20 2xl:w-14 2xl:flex-none 2xl:pl-2.5">

                                            </div>
                                        </div>
                                        <div class="flex flex-wrap gap-3">
                                            <div class="mr-auto">
                                                <div class=" text-opacity-70 flex items-center leading-3"> Gains  </div>
                                                <div class="relative text-2xl font-medium leading-5 pl-4 mt-3.5"> <span class="absolute text-xl top-0 left-0 -mt-1.5">$</span> @ViewBag.totalgains </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- END: Announcement -->

                        </div>
                    </div>
        <!-- END: Post Content -->

    </div>
</div>
</div>
</div>
<!-- END: Content -->

    <div id="modalNewwebinar" class="modal fade">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Closing Package</h4>

                </div>
                <form id="htmlform" method="post">
                    <div class="modal-body">
                        <div class="row">
                            @*<div class="col-7">
                                    <div class="form-group">
                                        <label>Package Name *</label>
                                        <input type="text" class="form-control" id="title" placeholder="Name to identify easily your documents package" required />
                                    </div>
                                </div>*@
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Category *</label>
                                    <select id="category" class="form-control" required>
                                        <option value="1">BUYER</option>
                                        <option value="3">SELLER</option>
                                        <option value="5">DUAL AGENCY</option>
                                        <option value="6">RENTAL LISTING</option>
                                        <option value="7">RENTAL TENANT</option>
                                        <option value="9">COMMERCIAL/INDUSTRIAL LISTING</option>
                                        <option value="11">LAND</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Property *</label>
                                    <select class="form-control w-full" name="ID_Property" id="ID_Property">
                                        @foreach (var item in listings)
                                        {
                                            <option value="@item.ID_Process">@item.Description - @item.Address</option>
                                        }
                                    </select>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                        <button type="submit" id="subbtnenviar" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- here stars edit property form modal section -->
    <div aria-hidden="true" id="updatepropertywindow" tabindex="-1" role="dialog" aria-labelledby="closewindow" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="closewindow">Edit property</h4>

                </div>
                <div class="modal-body">
                    <!-- Begin Widget Body -->
                    @using (Html.BeginForm("Edit", "Properties", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div id="propertyform" class="widget-body">
                            <div class="form-horizontal">
                                <div class="row" style="text-align:center">
                                    <div class="col-md-12">

                                    </div>
                                    <div class="col-md-12">
                                        <input type="hidden" name="ID_Customer" class="form-control" required />
                                        <label class="control-label">Customer :</label>
                                        <input class="form-control" type="text" disabled />
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">Status</label>
                                        <select class="form-control" name="Property">

                                            <option>LISTED</option>
                                            <option>PENDING</option>
                                            <option>CLOSED</option>
                                            <option>RENTED</option>
                                            <option>EXPIRED</option>

                                        </select>
                                    </div>
                                    <br />
                                    <div class="col-md-12">
                                        <label class="control-label ">Address</label>
                                        <input type="text" name="Address" class="form-control" required />
                                    </div>
                                    <br />
                                    <div class="col-md-12">
                                        <label class="control-label">Purchase Price ($)</label>
                                        <input type="number" step="0.01" name="Purchase_price" class="form-control" required />
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">Commission Amount ($)</label>
                                        <input type="number" step="0.01" name="Commission_amount" class="form-control" required
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">Commission Percentage (%)</label>
                                        <input type="number" step="0.01" name="Commissionperc" class="form-control" required
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                    </div>
                                    <input type="hidden" name="Stage" />
                                    <div class="col-md-12">
                                        <label class="control-label">Stage</label>
                                        <input type="text" disabled name="Stage" class="form-control" required />
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label"> Source</label>
                                        <input type="hidden" name="Source" />
                                        <input class="form-control" disabled name="Source" />
                                    </div>
                                    <br />
                                    <div class="col-md-12">
                                        <label class="control-label"> Type of Agency</label>
                                        <select class="form-control" id="TypeofAgency" name="TypeofAgency">
                                            <option>NOT ASSIGNED</option>
                                            <option>BROKERS AGENT</option>
                                            <option>BUYERS AGENT</option>
                                            <option>SELLING AGENT</option>
                                            <option>DUAL AGENT</option>
                                            <option>LISTING AGENT</option>
                                        </select>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="col-md-12">
                                        <label class="control-label">Loan Officer's Name</label>
                                        <input type="text" name="Loan_Officer_name" class="form-control" />
                                    </div>
                                    <br />
                                    <div class="col-md-12">
                                        <label class="control-label">Loan Officer's Telephone</label>
                                        <input type="text" name="Loan_Officer_tel" class="form-control" />
                                    </div>
                                    <br />
                                    <div class="col-md-12">
                                        <label class="control-label"> Attorney's Name</label>
                                        <input type="text" name="Attorneys_name" class="form-control" />
                                    </div>
                                    <br />
                                    <div class="col-md-12">
                                        <label class="control-label"> Attorney's Telephone</label>
                                        <input type="text" name="Attorneys_tel" class="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="position: relative !important; top:  20px !important;">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input id="editpropertybtn" onclick="" type="submit" value="update" class="btn btn-outline-info" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }                                               <!-- End Widget -->
                </div>

                <div class="modal-footer">

                    <button class="btn btn-outline-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- here ends edit property form modal section -->
    <div aria-hidden="true" id="propertywindow" tabindex="-1" role="dialog" aria-labelledby="closewindow" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="closewindow">Add Property</h4>

                </div>
                <!-- Begin Widget Body -->
                @using (Html.BeginForm("CreateProperty", "Properties", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">

                        <div id="propertyform" class="widget-body">



                            <label class="control-label">Description</label>
                            <input class="form-control" type="text" value="" id="Description" name="Description" />



                            <input type="hidden" name="ID_Customer" class="form-control" value="@Model.ID_Customer" required />



                            <label class="control-label">Status</label>
                            <select class="form-control" name="Property">
                                <option>------</option>
                                <option selected>LISTED</option>
                                <option>PENDING</option>
                                <option>CLOSED</option>
                                <option>RENTED</option>
                                <option>EXPIRED</option>
                            </select>

                            <br />

                            <label class="control-label ">Address</label>
                            <input type="text" name="Address" class="form-control" required />

                            <br />

                            <label class="control-label">Purchase Price ($)</label>
                            <input type="number" step="0.01" name="Purchase_price" class="form-control" required
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />


                            <label class="control-label">Commission Amount ($)</label>
                            <input type="number" step="0.01" name="Commission_amount" class="form-control" required
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />

                            <label class="control-label">Commission Percentage (%)</label>
                            <input type="number" step="0.01" name="Commissionperc" class="form-control" required
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />

                            <label class="control-label">Stage</label>
                            <select id="Stage" name="Stage" class="w-full form-control">
                                @foreach (var item in lststatus)
                                {

                                    <option>@item.Stage_name</option>

                                }
                            </select>



                            <label class="control-label"> Source</label>
                            <select id="Stage" name="Source" class="w-full form-control">
                                @foreach (var item in lstsource)
                                {

                                    <option>@item.Source_name</option>

                                }
                            </select>


                            <br />

                            <label class="control-label"> Type of Agency</label>
                            <select class="form-control" name="TypeofAgency">
                                <option>NOT ASSIGNED</option>
                                <option>BROKERS AGENT</option>
                                <option>BUYERS AGENT</option>
                                <option>SELLING AGENT</option>
                                <option>DUAL AGENT</option>
                                <option>LISTING AGENT</option>
                            </select>

                            <br />
                            <br />

                            <label class="control-label">Loan Officer's Name</label>
                            <input type="text" name="Loan_Officer_name" value="" class="form-control" />

                            <br />

                            <label class="control-label">Loan Officer's Telephone</label>
                            <input type="text" name="Loan_Officer_tel" value="" class="form-control" />

                            <br />

                            <label class="control-label"> Attorney's Name</label>
                            <input type="text" name="Attorneys_name" value="" class="form-control" />

                            <br />

                            <label class="control-label"> Attorney's Telephone</label>
                            <input type="text" name="Attorneys_tel" value="" class="form-control" />



                        </div>
                        <!-- End Widget -->
                    </div>

                    <div class="modal-footer">
                        <input onclick="" type="submit" value="Create" class="btn btn-primary" />
                        <button type="button" data-dismiss="modal" class="btn btn-shadow">Close</button>

                    </div>

                }
            </div>
        </div>
    </div>

    <button id="basic-non-sticky-notification-toggle" style="display:none" class="btn btn-primary">Show Notification</button>

    @if (ViewBag.token != null && ViewBag.token != "")
    {
        if (ViewBag.token == "success")
        {
            <script>
            window.onload = function () {
                var link = document.getElementById('basic-non-sticky-notification-toggle');
                link.click();
            };


            </script>
        }

    }

    @section scripts{
        <script>
            function deleteagent(idcustomer, id_user) {

                swal.fire({
                    title: 'Do you want to delete these record?',
                    text: "This process cannot be undone.",
                    icon: 'error',
                    showCancelButton: true,
                    confirmButtonColor: '#C83232',
                    cancelButtonColor: '#aaa',
                    confirmButtonText: 'Delete'
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '/Teams/DeleteConfirmedAgentFromLead',
                            type: 'POST',
                            data: { 'idcustomer': idcustomer, 'id_user' : id_user },
                            cache: false,
                            global: false,
                            success: function (result) {
                                if (result == "Success") {
                                    Swal.fire(
                                        'Record deleted',
                                        'The record has been deleted.',
                                        'success'
                                    )
                                    window.location.reload(true);
                                } else {
                                    alert(result);
                                }


                            },
                            error: function (request) {
                                alert("Something went wrong.");

                            }
                        });


                    }
                })
            }
            function deleteTask(idtask) {

                swal.fire({
                    title: 'Do you want to delete?',
                    text: "This process cannot be undone.",
                    icon: 'error',
                    showCancelButton: true,
                    confirmButtonColor: '#C83232',
                    cancelButtonColor: '#aaa',
                    confirmButtonText: 'Delete'
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '/Tasks/DeleteConfirmed',
                            type: 'POST',
                            data: { 'id': idtask },
                            cache: false,
                            global: false,
                            success: function (result) {
                                if (result == "Success") {
                                    Swal.fire(
                                        'Record deleted',
                                        'The record has been deleted.',
                                        'success'
                                    )
                                    window.location.reload(true);
                                } else {
                                    alert(result);
                                }


                            },
                            error: function (request) {
                                alert("Something went wrong.");

                            }
                        });


                    }
                })
            }

        function deleteNote(idnote) {

            swal.fire({
                title: 'Do you want to delete these record?',
                text: "This process cannot be undone.",
                icon: 'error',
                showCancelButton: true,
                confirmButtonColor: '#C83232',
                cancelButtonColor: '#aaa',
                confirmButtonText: 'Delete'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Notes/DeleteNote',
                        type: 'POST',
                        data: { 'id': idnote },
                        cache: false,
                        global: false,
                        success: function (result) {
                            if (result == "Success") {
                                Swal.fire(
                                    'Record deleted',
                                    'The record has been deleted.',
                                    'success'
                                )
                                window.location.reload(false);
                            } else {
                                alert(result);
                            }


                        },
                        error: function (request) {
                            alert("Something went wrong.");

                        }
                    });


                }
            })
        }
        function deleteListing(idlisting) {

            swal.fire({
                title: 'Do you want to delete these record?',
                text: "This process cannot be undone.",
                icon: 'error',
                showCancelButton: true,
                confirmButtonColor: '#C83232',
                cancelButtonColor: '#aaa',
                confirmButtonText: 'Delete'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Properties/DeleteConfirmed',
                        type: 'POST',
                        data: { 'id': idlisting },
                        cache: false,
                        global: false,
                        success: function (result) {
                            if (result == "Success") {
                                Swal.fire(
                                    'Record deleted',
                                    'The record has been deleted.',
                                    'success'
                                )
                                window.location.reload(false);
                            } else {
                                alert(result);
                            }


                        },
                        error: function (request) {
                            alert("Something went wrong.");

                        }
                    });

                }
            })
        }

        $('#htmlform').on('submit', function (event) {
            $("#subbtnenviar").attr("disabled", true);
            event.preventDefault();


            var formData = new FormData();

            var title = $("#ID_Property option:selected").html();//$("#title").val();
            var idcategory = $("#category").val();
            var customer = 0;
            var property = $('#ID_Property').val();
            var category = $("#category option:selected").html();

            if (property != "") {
                formData.append("title", title);
                formData.append("category", category);
                formData.append("customer", customer);
                formData.append("property", property);
                formData.append("idpackage", idcategory);

                $.ajax({
                    type: "POST",
                    url: '/Portal/newPackageClosing',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {

                        if (response.result == "SUCCESS") {

                            $("#subbtnenviar").attr("disabled", false);

                            var link = document.getElementById('basic-non-sticky-notification-toggle');
                            link.click();

                            window.location.href = "/Portal/Package_detailsCD?idpackage=" + response.idpackage;

                        } else {
                            $("#preloader").hide();
                            $("#subbtnenviar").attr("disabled", false);
                            alert(response);
                        }
                    },
                    error: function (error) {

                        $("#subbtnenviar").attr("disabled", false);
                        alert("Error uploading package, select a valid Property");

                    }
                });
            } else {
                alert("Select a valid Property")
            }



        });

            $('.checktask').change(function () {
                var value = this.checked;
                var id = $(this).attr('id');

                $.ajax({
                    url: '/Tasks/UpdateTask',
                    type: 'POST',
                    data: { 'id': id, 'value': value },
                    cache: false,
                    global: false,
                    success: function (result) {
                        if (result == "Success") {
                            Swal.fire(
                                'Record updated',
                                'The record has been updated.',
                                'success'
                            )
                           
                        } else {
                            alert(result);
                        }


                    },
                    error: function (request) {
                        alert("Something went wrong.");

                    }
                });


            });

        $(document).on("change", "#stagecustomer", function () {
            var stage = $(this).val();
            var id_customer = '@Model.ID_Customer';


            $.ajax({
                url: '/CRM/UpdateByAjaxSideBard',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    stage: stage,
                    id: id_customer

                }),
                success: function (result) {
                    var link = document.getElementById('basic-non-sticky-notification-toggle');
                    link.click();
                },
                error: function (err) {

                }
            });
        });
        $(document).on("change", ".documentfile", function () {
            var input = this;
            var url = $(this).val();

            var idurl = $("#Url");
            var idlbl = $("#lblsuccessdoc");

            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "pdf" || ext == "xlsx" || ext=="docx" || ext == "jpeg" || ext == "jpg")) {
                $("#lblsuccessdoc").html("<strong>Uploading file, please wait..<strong>");

                if ($("#Url").val() != "") { //eliminamos imagen anterior
                    try {
                        var filename = $("#Url").val();
                        filename = filename.replace("https://imagesproducts.blob.core.windows.net/sevenfiles/", "");


                        $.ajax({
                            url: '/LeadDocs/DeleteDocumentUploaded',
                            type: 'POST',
                            datatype: 'application/json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                filename: filename

                            }),
                            success: function (result) {

                            },
                            error: function (err) {

                            }
                        });
                    } catch {

                    }

                }


                var data = new FormData();

                data.append("photo", input.files[0]);


                $.ajax({
                    url: '/LeadDocs/UploadNewDocument',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (result) {

                        $("#Url").val(result);
                        $("#lblsuccessdoc").html("<strong>File uploaded successfully</strong>");

                    },
                    error: function (err) {
                        $("#Url").val("");
                        $("#lblsuccessdoc").html("<strong>Error uploading file, please try again<strong>");
                    }
                });

            }
            else {
                alert("File not allowed");
                input.value = '';
            }
        });

        </script>
    }



