@model List<Realestate_portal.Models.ViewModels.CRM.LeadsMain>
@{
    ViewBag.Title = "Leads";

}
<div id="basic-non-sticky-notification-content" class="toastify-content hidden flex">
    <i class="text-theme-20" data-feather="check-circle"></i>
    <div class="ml-4 mr-4">
        <div class="font-medium">Data saved successfully!</div>

    </div>
</div>

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Leads
    </h2>
</div>
<div class="grid grid-cols-12 gap-12 mt-5">
    <div class="intro-y col-span-12 lg:col-span-12">
        <!-- BEGIN: Basic Table -->
        <div class="intro-y box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200">
                <h2 class="font-medium text-base mr-auto">
                    Leads
                </h2>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                    @if (ViewBag.rol == "SA")
                    {

                    }
                    else
                    {
                        <div class="widget-options">
                            <a class="btn btn-success" href="@Url.Action("Create", "Customers")">Add Lead</a>
                        </div>
                    }
                </div>
            </div>
            <div class="p-5" id="basic-table">
                <div class="preview">
                    <div class="overflow-x-auto">
                        <label>Filter by Status</label>
                        <select id="selecttable" class="form-control" style="width:150px">
                            <option>ALL</option>
                            @foreach (var item in Model.Select(c => c.Marital_status).Distinct())
                            {
                                <option>@item</option>
                            }
                        </select><br /><br />
                        <table class="table table-report sm:mt-2" id="tableresources">

                            <thead>
                                <tr class="text-white" style="background-color:#162343">
                                    <th class="whitespace-nowrap">
                                        NAME
                                    </th>
                                    <th class="whitespace-nowrap">
                                        PHONE
                                    </th>
                                    <th class="whitespace-nowrap">
                                        EMAIL
                                    </th>

                                    <th class="whitespace-nowrap">
                                        TYPE
                                    </th>
                                    <th class="whitespace-nowrap">
                                        STATUS
                                    </th>
                                    <th class="whitespace-nowrap">TEAM</th>
                                    @if (ViewBag.rol != "SA")
                                    {
                                        <th class="whitespace-nowrap">
                                            AGENTS
                                        </th>
                                    }


                                    @if (ViewBag.rol != "Agent" && ViewBag.rol != "SA")
                                    {
                                        <th class="whitespace-nowrap">
                                            ACTIONS
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>  <a href="@Url.Action("CustomerDashboard","CRM", new { id=item.ID_lead})" class="font-medium whitespace-nowrap"><i data-feather="link" class="w-4 h-4 mr-1"></i> @item.Name</a></td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td>@item.Type</td>
                                        <td>@item.Marital_status</td>
                                        <td>@item.Team</td>
                                        @if (ViewBag.rol != "SA")
                                        {
                                            <td>

                                                <div class="flex">
                                                    @if (item.Agents.Count() > 0)
                                                    {
                                                        foreach (var agent in item.Agents)
                                                        {


                                                            if (agent.Url_image == "")
                                                            {

                                                                <div class="tooltip text-lg  image-fit zoom-in font-medium truncate -ml-4" title="@agent.Name @agent.Lastname">   <p data-letters="@agent.Name.Substring(0, 1) @agent.Lastname.Substring(0, 1)"></p></div>


                                                            }
                                                            else if (agent.Url_image.StartsWith("http"))
                                                            {
                                                                <div class="w-12 h-12 image-fit zoom-in -ml-4">
                                                                    <img alt="@agent.Name @agent.Lastname" class="tooltip rounded-full" src="@agent.Url_image" title="@agent.Name @agent.Lastname">
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="w-12 h-12 image-fit zoom-in -ml-4">
                                                                    <img alt="@agent.Name @agent.Lastname" class="tooltip rounded-full" src="@Url.Content(agent.Url_image)" title="@agent.Name @agent.Lastname">
                                                                </div>
                                                            }


                                                        }

                                                    }
                                                    else
                                                    {
                                                        <label> Not assigned </label>
                                                    }
                                                </div>
                                            </td>

                                        }

                                        @if (ViewBag.rol != "Agent" && ViewBag.rol != "SA")
                                        {
                                            <td>
                                                <div class="flex justify-center items-center">
                                                    <a class="flex items-center mr-3" href="@Url.Action("Edit","Customers", new { id=item.ID_lead})"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>

                                                    <a class="flex items-center text-theme-21" href="javascript:void(0);" onclick="deleteCustomer(@item.ID_lead)" id="deletecustomer"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                                </div>

                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END: Basic Table -->
<!-- BEGIN: Bordered Table -->

<button id="basic-non-sticky-notification-toggle" style="display:none" class="btn btn-primary">Show Notification</button>

@if (ViewBag.token != null && ViewBag.token != "")
{
    if (ViewBag.token == "success")
    {
        <script>
            window.onload = function () {
                var link = document.getElementById('basic-non-sticky-notification-toggle');
                link.click();
            };


        </script>
    }

}
<!-- End table Container -->
<!--table scripts starts here to pull all data from controller by datable ajax -->
@section scripts{
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
    <script>
        function deleteCustomer(idcustomer) {

            swal.fire({
                title: 'Do you really want to delete these record?',
                text: "This process cannot be undone.",
                icon: 'error',
                showCancelButton: true,
                confirmButtonColor: '#C83232',
                cancelButtonColor: '#aaa',
                confirmButtonText: 'Delete'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Customers/DeleteConfirmed',
                        type: 'POST',
                        data: { 'id': idcustomer },
                        cache: false,
                        global: false,
                        success: function (result) {
                            if (result == "Success") {
                                Swal.fire(
                                    'Record deleted',
                                    'The record has been deleted.',
                                    'success'
                                )
                                window.location.reload(true);
                            } else {
                                alert(result);
                            }


                        },
                        error: function (request) {
                            alert("Something went wrong.");

                        }
                    });


                }
            })
        }
        $(document).ready(function () {


            table = $("#tableresources").DataTable({
                "order": [[0, "asc"]],
                dom: 'lBfrtip',
                "iDisplayLength": 25,
                buttons: [
                    'colvis',
                    {
                        text: 'Show All Columns <i class="fa-lg fas fa-check-square"></i>',
                        className: 'show-all-columns',
                        action: function (e, dt) {
                            dt.columns([0, 1, 2, 3, 4, 5]).visible(true, false); // show selected columns, false is to disable redraw calcs for speed

                        }
                    }
                ]
            });

            $('#selecttable').on('change', function () {
                if (this.value == "ALL") {
                    table.columns(4).search('').draw();
                } else {
                    table.columns(4).search(this.value).draw();
                }

            });
        });
    </script>
}







