@{
    ViewBag.Title = "Leads";
    Layout = "~/Views/Shared/_CRM_Dashboard.cshtml";
}

<div class="container-fluid">

    <!-- Begin Widget 08 -->
    @**@
    <div class="widget widget-08" style="width: 100%;background-color:transparent">
        <div class="widget-header bordered d-flex align-items-center">
            <div class="today">
                <div class="title">Leads</div>
                @*<div class="new-tasks">ALL YOUR TRANSACTION DOCUMENTS </div>*@
            </div><h2></h2>
            @if (ViewBag.rol == "SA")
            {

            }
            else
            {
                <div class="widget-options">
                    <a class="btn btn-shadow" href="@Url.Action("Create", "Customers")">Add Lead</a>
                </div>
            }
        </div><br />
        <h2>LeadsTable</h2>
        <!-- Begin Widget header-->
        <div class="widget has-shadow">
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body" style="padding-bottom:250px">
                <div class="table-responsive">
                    <table class="table" id="tableresources" style="width: 100% !important">
                        <thead>
                            <tr style="background-color: #2c9ad6 !important; " id="tableHeader">
                                <th>
                                    Name
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    E-mail
                                </th>

                                <th>
                                    Type
                                </th>
                                <th>
                                    Status
                                </th>
                                @if (ViewBag.rol != "SA")
                                {
                                    <th>
                                        Agent
                                    </th>
                                }
                                <th>
                                    Last Activity
                                </th>
                            
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Widget -->
        <!--notes modal start here -->
        <div id="modalnotes" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Notes</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="tbodynotes">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Text</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                    </div>
                    <label id="ddbystatus">
                        <span> Search Status:</span>
                        <select id="status" aria-controls="tableresources" class="form-control form-control-sm">
                            <option value="All">ALL</option>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="ON_CONTRACT">ON CONTRACT</option>
                            <option value="FOLLOW_UP">FOLLOW UP</option>
                            <option value="CLOSED">CLOSED</option>
                            <option value="DEAD">DEAD</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End table Container -->
<!--table scripts starts here to pull all data from controller by datable ajax -->
@section scripts{
    <script>
        $(document).ready(function () {
            var columns;
            var masterColumn;
            if ("@ViewBag.rol" != "SA") {
                masterColumn = 8;
                columns = [
                    { "data": { "Id": "Id", "Name" : "Name" }, "name": "Name", "autoWidth": true },
                    { "data": "Phone", "name": "Phone", "autoWidth": true },
                    { "data": "Email", "name": "Email", "autoWidth": true },
                    { "data": "Type", "name": "Type", "autoWidth": true },
                    { "data": "Marital_status", "name": "Marital_status", "autoWidth": true },
                    { "data": "User_assigned", "name": "User_assigned", "autoWidth": true },
                    { "data": "DateString", "name": "DateString", "autoWidth": true },
                    { "data": { "Id": "Id" }, "name": "Name", "autoWidth": true }
                ]
            } else {
                masterColumn = null;
                columns = [
                    { "data": { "Id": "Id", "Name": "Name" }, "name": "Name", "autoWidth": true },
                    { "data": "Phone", "name": "Phone", "autoWidth": true },
                    { "data": "Email", "name": "Email", "autoWidth": true },
                    { "data": "Type", "name": "Type", "autoWidth": true },
                    { "data": "Marital_status", "name": "Marital_status", "autoWidth": true },
                    { "data": "DateString", "name": "DateString", "autoWidth": true }
                   ]

            }

            var table = $('#tableresources').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '@Url.Action("LeadsAjax", "CRM")?status='+$("#status").val()+"&broker="+"@ViewBag.selbroker",
                    "type": "POST",
                    "dataType": "json"
                },
                "pageLength": 10,
                "filter":true,
                "resposivePriority": 1,
                "data": null,
                "columns": columns,
                "columnDefs": [
                    {
                    "targets": 0,
                    "data": "download_link",
                    "render": function (data) {
                        var names = data.Name.split(' ');
                        var first = names[0];
                        var last = names[1];
                        var f = first.split('');
                        var l = last.split('');

                        return `<a href="/CRM/CustomerDashboard/${data.Id}?broker='@ViewBag.selbroker'">
                                <span style="text-align:center; border-radius:50%; background-color:#c9c9c9; width:30px; padding:5px 0; text-transform:uppercase; color: white;" " class="mg-fluid ">
                                ${f[0]+l[0]}
                                </span> &nbsp; ${data.Name}</a>`;
                    }
                   },
                     {
                    "targets": masterColumn,
                    "render": function (data) {
                        return `<a href="/Customers/Edit/${data.Id}?broker='@ViewBag.selbroker'">
                                Edit |</a>
                            <a href="/Customers/Delete/${data.Id}?broker='@ViewBag.selbroker'">
                                Delete |</a>
                               <a href="#" onclick="shownotes(${data.Id})" data-toggle="modal" data-target="#modalnotes">
                               Notes</a>`;
                    }
                    }
                ]
            });

            $('#status').change(function () {
                var status = $("#status").val();
                var splited = status.split("_");

                if (splited.length ==2) {
                    status = splited[0] + " " + splited[1];
                }
                var url = '@Url.Action("LeadsAjax", "CRM")?status=' + status+"&broker"+"@ViewBag.selbroker";
                table.ajax.url(url).load();
            });
            $("#tableHeader").find('*').css({ "color": 'white' });
            $("#ddbystatus").insertBefore("#tableresources_filter");
        });
    </script>
}
<script type="text/javascript">
    function shownotes(idcustomer) {
        $.ajax
            ({
                url: '/Customers/Getnotes',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    idcustomer: idcustomer
                }),
                success: function (result) {
                    $("#tbodynotes tbody").html("");
                    $.each($.parseJSON(result), function (i, notes) {
                        var newRowContent = "<tr><td>" + notes.ID_note + " </td><td>" + notes.Text + " </td><td>" + new Date(parseInt(notes.Date.substr(6))).toLocaleDateString('en-US'); + "</td></tr>";
                        $("#tbodynotes tbody").append(newRowContent);
                    });
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }
</script>






