@model IEnumerable<Realestate_portal.Models.Tb_Process>

@{
    ViewBag.Title = "Properties";

}


<div id="basic-non-sticky-notification-content" class="toastify-content hidden flex">
    <i class="text-theme-20" data-feather="check-circle"></i>
    <div class="ml-4 mr-4">
        <div class="font-medium">Data saved successfully!</div>

    </div>
</div>

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Properties
    </h2>
</div>
<div class="grid grid-cols-12 gap-12 mt-5">
    <div class="intro-y col-span-12 lg:col-span-12">
        <!-- BEGIN: Basic Table -->
        <div class="intro-y box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200">
                <h2 class="font-medium text-base mr-auto">
                    Properties
                </h2>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
           
                        @*<div class="widget-options">
                            <a class="btn btn-success" href="@Url.Action("Create","Properties")">Add Property</a>
                        </div>*@
                    
                </div>
            </div>
            <div class="p-5" id="basic-table">
                <div class="preview">
                    <table class="table table-report sm:mt-2" id="tableresources">
                        <thead>
                            <tr class="text-white" style="background-color:#162343">
                                <th class="whitespace-nowrap">
                                    ID
                                </th>
                                <th class="whitespace-nowrap">
                                    Status
                                </th>
                                <th class="whitespace-nowrap">
                                    Address
                                </th>


                                <th class="whitespace-nowrap">
                                    Purchase price
                                </th>
                                <th class="whitespace-nowrap">
                                    Stage
                                </th>
                                <th class="whitespace-nowrap">
                                    Lead
                                </th>  
                          
                                <th class="whitespace-nowrap">
                                    Type of Agency
                                </th>

                                <th class="whitespace-nowrap">
                                    Last Update
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="color:black">
                                    <td>
                                        <a href="@Url.Action("Edit","Properties", new { id=item.ID_Process})">@item.ID_Process</a>
                                    </td>
                                    <td>
                                        @item.Property
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit","Properties", new { id=item.ID_Process})">@item.Address</a>
                                    </td>

                                    <td>
                                        $@Convert.ToDecimal(item.Purchase_price).ToString("N2")
                                    </td>
                                    <td>
                                        @item.Stage
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit","Customers", new { id=item.ID_Customer})">  @item.Tb_Customers.Name  @item.Tb_Customers.LastName</a>

                                    </td>
                       
                                    <td>
                                        @item.TypeofAgency
                                    </td>

                                    <td>
                                        @item.Last_update.ToShortDateString()
                                    </td>
                                    <td>
                                        @if (ViewBag.rol != "SA")
                                        {


                                            <a class="flex items-center mr-3" href="@Url.Action("Edit","Properties", new { id=item.ID_Process})"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>

                                            <a class="flex items-center text-theme-21" href="javascript:void(0)" onclick="deleteProperty(@item.ID_Process)"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                        }

                                        @*<a href="#" onclick="shownotes(@item.ID_Process)" data-toggle="modal" data-target="#modalnotes">Notes</a>*@

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
            <!-- End Calendar -->
        </div>
        <!-- End Widget -->



    </div>

</div>
<div id="modalnotes" class="modal fade">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Notes</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">close</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" id="tbodynotes">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Text</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>
<!-- End Container -->
<script type="text/javascript">
    window.onload = function () {
        $("#tableresources").DataTable();
    }
    function shownotes(idcustomer) {
        $.ajax
            ({
                url: '/Properties/Getnotes',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    idprocess: idcustomer
                }),
                success: function (result) {

                    $("#tbodynotes tbody").html("");
                    $.each($.parseJSON(result), function (i, notes) {

                        var newRowContent = "<tr><td>" + notes.ID_note + " </td><td>" + notes.Text + " </td><td>" + new Date(parseInt(notes.Date.substr(6))).toLocaleDateString('en-US'); + "</td></tr>";

                        $("#tbodynotes tbody").append(newRowContent);

                    }

                    )

                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }
</script>
@section scripts{
    <script>
        function deleteProperty(idprocess) {

            swal.fire({
                title: 'Do you really want to delete these record?',
                text: "This process cannot be undone.",
                icon: 'error',
                showCancelButton: true,
                confirmButtonColor: '#C83232',
                cancelButtonColor: '#aaa',
                confirmButtonText: 'Delete'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Properties/DeleteConfirmed',
                        type: 'POST',
                        data: { 'id': idprocess },
                        cache: false,
                        global: false,
                        success: function (result) {
                            if (result == "Success") {
                                Swal.fire(
                                    'Record deleted',
                                    'The record has been deleted.',
                                    'success'
                                )
                                window.location.reload(true);
                            } else {
                                alert(result);
                            }


                        },
                        error: function (request) {
                            alert("Something went wrong.");

                        }
                    });


                }
            })
        }



    </script>
}