@model List<Realestate_portal.Models.ViewModels.TasksView>
@{
    List<Realestate_portal.Models.Sys_Users> lstagents = (List<Realestate_portal.Models.Sys_Users>)ViewBag.agents;
    List<Realestate_portal.Models.Tb_Customers> leads = (List<Realestate_portal.Models.Tb_Customers>)ViewBag.leads;
}


<div id="basic-non-sticky-notification-content" class="toastify-content hidden flex">
    <i class="text-theme-20" data-feather="check-circle"></i>
    <div class="ml-4 mr-4">
        <div class="font-medium">Task created successfully!</div>

    </div>
</div>

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Tasks
    </h2>
    <br /><br /><br />
</div>

<div class="row">
    <!-- BEGIN: Daily Sales -->
    <!-- END: Daily Sales -->
    <!-- BEGIN: Announcement -->
    <!-- END: Announcement -->
    <!-- BEGIN: Projects -->
    <!-- END: Projects -->
    <!-- BEGIN: Today Schedules -->
    <!-- END: Today Schedules -->
    <!-- BEGIN: Top Products -->
    <!-- END: Top Products -->
    <!-- BEGIN: Latest Tasks -->
    <div class="box col-md-9">
        <div class="flex items-center px-5 py-5 sm:py-0 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto">
                Latest Tasks
            </h2>
            <div class="dropdown ml-auto sm:hidden">
                <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false"> <i data-feather="more-horizontal" class="w-5 h-5 text-gray-600 dark:text-gray-300"></i> </a>
                <div class="nav nav-tabs dropdown-menu w-40" role="tablist">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2"> <a id="latest-tasks-new-tab" href="javascript:;" data-toggle="tab" data-target="#latest-tasks-new" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md" role="tab" aria-controls="latest-tasks-new" aria-selected="true">New</a> <a id="latest-tasks-last-week-tab" href="javascript:;" data-toggle="tab" data-target="#latest-tasks-last-week" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md" role="tab" aria-selected="false">Last Week</a> </div>
                </div>
            </div>
            <div class="nav nav-tabs ml-auto hidden sm:flex" role="tablist"> <a id="latest-tasks-mobile-new-tab" data-toggle="tab" data-target="#latest-tasks-new" href="javascript:;" class="py-5 ml-6 active" role="tab" aria-selected="true"></a> <a id="latest-tasks-mobile-last-week-tab" data-toggle="tab" data-target="#latest-tasks-last-week" href="javascript:;" class="py-5 ml-6" role="tab" aria-selected="false"></a> </div>
        </div>
        <div class="p-5">
            <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                @if (Model.Count() > 0)
        {
            <table class="table table-report sm:mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap"></th>
                        <th class="whitespace-nowrap">AGENT</th>
                        <th class="whitespace-nowrap">TASK</th>
                        <th class="whitespace-nowrap">CUSTOMER</th>
                        <th class="whitespace-nowrap">DATE TO COMPLETE</th>
                        <th class="whitespace-nowrap">STATUS</th>
                        <th class="text-center whitespace-nowrap">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(c=>c.Lastupdate.Date==DateTime.Today).OrderBy(c=>c.Finished))
            {
                    <tr class="intro-x">
                        <td>
                            <div class="flex">
                                @if (item.Url_image == "")
            {
                    <div class="tooltip text-lg -ml-4 font-medium truncate " title="@item.Name @item.Lastname">   <p data-letters="@item.Name.Substring(0, 1) @item.Lastname.Substring(0, 1)"></p></div>

}
else if (item.Url_image.StartsWith("http"))
{
                    <div class="w-12 h-12 image-fit zoom-in -ml-4  ">
                        <img alt="@item.Name @item.Lastname" class="tooltip rounded-full" src="@item.Url_image" title="@item.Name  @item.Lastname">

                    </div>
}
else
{
                    <div class="w-12 h-12 image-fit zoom-in -ml-4 ">
                        <img alt="@item.Name @item.Lastname" class="tooltip rounded-full" src="@Url.Content(item.Url_image)" title="@item.Name @item.Lastname">

                    </div>
}
                            </div>
                        </td>
                        <td><label>@item.Name @item.Lastname</label></td>

                        <td>
                            <a href="javascript:void(0)" class="font-medium">@item.Title</a>
                            <p style="font-size:11px">@item.Description</p>

                        </td>
                        <td>
                            <label>@item.Customer</label>
                        </td>

                        <td>@item.Lastupdate.ToString("MM/dd/yyyy")</td>
                        <td>
                            @if (item.Finished)
        {
                    <input style="border-color:#7c7a7a !important" class="form-check-switch text-align-right ml-5 checktask" id="@item.ID_task" type="checkbox" checked>
}
else
{ <input class="form-check-switch text-align-right ml-5 checktask" style="border-color:#7c7a7a !important" id="@item.ID_task" type="checkbox">}


                        </td>
                        <td>
                            <a href="javascript:void(0)" onclick="deleteTask(@item.ID_task)" class="btn btn-sm btn-danger ml-auto">Delete</a>
                        </td>

                    </tr>
        }

                                        @foreach (var item in Model.Where(c=>c.Lastupdate.Date!=DateTime.Today.Date).OrderBy(c => c.Finished))
                                        {
                    <tr class="intro-x">
                        <td>
                            <div class="flex">
                                @if (item.Url_image == "")
            {
                    <div class="tooltip text-lg -ml-4 font-medium truncate " title="@item.Name @item.Lastname">   <p data-letters="@item.Name.Substring(0, 1) @item.Lastname.Substring(0, 1)"></p></div>

}
else if (item.Url_image.StartsWith("http"))
{
                    <div class="w-12 h-12 image-fit zoom-in -ml-4  ">
                        <img alt="@item.Name @item.Lastname" class="tooltip rounded-full" src="@item.Url_image" title="@item.Name  @item.Lastname">

                    </div>
}
else
{
                    <div class="w-12 h-12 image-fit zoom-in -ml-4 ">
                        <img alt="@item.Name @item.Lastname" class="tooltip rounded-full" src="@Url.Content(item.Url_image)" title="@item.Name @item.Lastname">

                    </div>
}
                            </div>
                        </td>
                        <td><label>@item.Name @item.Lastname</label></td>
                        <td>
                            <a href="javascript:void(0)" class="font-medium">@item.Title</a>
                            <p style="font-size:11px">@item.Description</p>
                        </td>
                        <td>
                            <label>@item.Customer</label>
                        </td>
                        <td>@item.Lastupdate.ToString("MM/dd/yyyy")</td>
                        <td>
                            @if (item.Finished)
        {
                    <input style="border-color:#7c7a7a !important" class="form-check-switch text-align-right ml-5 checktask" id="@item.ID_task" type="checkbox" checked>
}
else
{ <input class="form-check-switch text-align-right ml-5 checktask" style="border-color:#7c7a7a !important" id="@item.ID_task" type="checkbox">}


                        </td>
                        <td>
                            <a href="javascript:void(0)" onclick="deleteTask(@item.ID_task)" class="btn btn-sm btn-danger ml-auto">Delete</a>
                        </td>

                    </tr>
        }


                </tbody>
                </table>
                }
                else
                {

                <div class="sm:flex items-center">
                    <img src="~/Content/dist/images/nodata-found.png" style="width:600px" />

                    <div class="preview">

                        <div class="alert alert-outline-secondary alert-dismissible show flex items-center mb-2" role="alert">
                            <i data-feather="alert-octagon" class="w-6 h-6 mr-2"></i> No tasks created

                        </div>

                    </div>
                </div>

                }

            </div>
            </div>
            </div>
          
    <!-- END: Latest Tasks -->
    <!-- BEGIN: Work In Progress -->
    <div class="col-md-3">
        <div class="flex items-center px-5 py-5 sm:py-0 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto">
                Work In Progress
            </h2>
            <div class="dropdown ml-auto sm:hidden">
                <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false"> <i data-feather="more-horizontal" class="w-5 h-5 text-gray-600 dark:text-gray-300"></i> </a>
                <div class="nav nav-tabs dropdown-menu w-40" role="tablist">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2"> <a id="work-in-progress-new-tab" href="javascript:;" data-toggle="tab" data-target="#work-in-progress-new" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md" role="tab" aria-controls="work-in-progress-new" aria-selected="true">New</a> <a id="work-in-progress-last-week-tab" href="javascript:;" data-toggle="tab" data-target="#work-in-progress-last-week" class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md" role="tab" aria-selected="false">Last Week</a> </div>
                </div>
            </div>
            <div class="nav nav-tabs ml-auto hidden sm:flex" role="tablist"> <a data-toggle="tab" data-target="#work-in-progress-new" href="javascript:;" class="py-5 ml-6 active" role="tab" aria-selected="true"></a> <a data-toggle="tab" data-target="#work-in-progress-last-week" href="javascript:;" class="py-5 ml-6" role="tab" aria-selected="false"></a> </div>
        </div>
        <div class="p-5">
            <div class="tab-content">
                <div id="work-in-progress-new" class="tab-pane active" role="tabpanel" aria-labelledby="work-in-progress-new-tab">
                    <div>
                        <div class="flex">
                            <div class="mr-auto">Pending Tasks</div>
                            <div>@Model.Where(c => c.Finished == false).Count() / @Model.Count()</div>
                        </div>
                        <div class="progress h-1 mt-2">
                            @if (Model.Count > 0)
                            {
                                var total = ((Convert.ToDecimal(Model.Where(c => c.Finished == false).Count()) / Convert.ToDecimal(Model.Count())) * 100);
                                <div class="progress-bar w-1/2 bg-theme-29" role="progressbar" style="width:@total%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            }
                            else
                            {
                                <div class="progress-bar w-1/2 bg-theme-29" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            }
                        </div>
                    </div>
                    <div class="mt-5">
                        <div class="flex">
                            <div class="mr-auto">Completed Tasks</div>
                            <div>@Model.Where(c => c.Finished == true).Count() / @Model.Count()</div>
                        </div>
                        <div class="progress h-1 mt-2">
                            @if (Model.Count > 0)
                            {
                                var total= ((Convert.ToDecimal(Model.Where(c => c.Finished == true).Count()) / Convert.ToDecimal(Model.Count())) * 100);
                                <div class="progress-bar bg-theme-25" role="progressbar" style="width:@total%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            }
                            else
                            {
                                <div class="progress-bar  bg-theme-25" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            }
                        </div>
                    </div>

                    <a href="javascript:void(0);" data-toggle="modal" data-target="#medium-slide-over-size-preview" class="btn btn-success block w-40 mx-auto mt-5">New Task</a>
                    <!-- BEGIN: Medium Slide Over Content -->
                    <div id="medium-slide-over-size-preview" class="modal modal-slide-over"  data-backdrop="static" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header p-5">
                                    <h2 class="font-medium text-base mr-auto">
                                        New Task
                                    </h2>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("Create", "Tasks", FormMethod.Post))
        {
                            @Html.AntiForgeryToken()
                            <div class="mt-3"> <label for="Title" class="form-label">Title</label> <input id="Title" name="Title" type="text" class="form-control" placeholder="" required> </div>
                            <div class="mt-3"> <label for="Description" class="form-label">Description</label> <input id="Description" name="Description" type="text" class="form-control" placeholder="" required> </div>
                            <div class="mt-3"> <label for="ID_Customer" class="form-label">Customer</label> 
                                    <select id="ID_Customer" name="ID_Customer"  class="form-control">
                                        <option value="0"></option>
                                        @foreach (var item in leads) {
                                            <option value="@item.ID_Customer">@item.Name @item.LastName</option>
                                        }
                                    </select>
                                    </div>
                            <div class="mt-3"> <label for="Description" class="form-label">Date to complete</label> <input id="Createdat" name="Createdat" type="date" class="form-control" required> </div>
                            <div class="mt-3">
                                <label for="agents" class="form-label">Agent</label>
                                <select data-placeholder="Search here.." class="tom-select w-full" id="ID_User" name="ID_User" required>
                                    @foreach (var item in lstagents)
        {
                            <option value="@item.ID_User">@item.Name @item.LastName (@item.Email)</option>
}

                                </select>
                            </div>
                            <button type="submit" class="btn btn-success block w-40 mx-auto mt-5">Add Task</button>
}
                                </div>
                                <div class="modal-footer text-right w-full absolute bottom-0">
                                    <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                              
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END: Medium Slide Over Content -->
                </div>
            </div>
        </div>
    </div>
    <!-- END: Work In Progress -->
    <!-- BEGIN: General Statistics -->
    <!-- END: General Statistics -->
</div>

<button id="basic-non-sticky-notification-toggle" style="display:none" class="btn btn-primary">Show Notification</button>

@if (ViewBag.token != null && ViewBag.token != "")
{
    <script>
        window.onload = function () {
            var link = document.getElementById('basic-non-sticky-notification-toggle');
            link.click();
        };

    </script>
}
@section scripts{
    <script>
        function deleteTask(idtask) {

            swal.fire({
                title: 'Do you want to delete?',
                text: "This process cannot be undone.",
                icon: 'error',
                showCancelButton: true,
                confirmButtonColor: '#C83232',
                cancelButtonColor: '#aaa',
                confirmButtonText: 'Delete'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Tasks/DeleteConfirmed',
                        type: 'POST',
                        data: { 'id': idtask },
                        cache: false,
                        global: false,
                        success: function (result) {
                            if (result == "Success") {
                                Swal.fire(
                                    'Record deleted',
                                    'The record has been deleted.',
                                    'success'
                                )
                                window.location.reload(true);
                            } else {
                                alert(result);
                            }


                        },
                        error: function (request) {
                            alert("Something went wrong.");

                        }
                    });


                }
            })
        }


        $(document).ready(function () {
            $('.checktask').change(function () {
                var value = this.checked;
                var id = $(this).attr('id');

                $.ajax({
                    url: '/Tasks/UpdateTask',
                    type: 'POST',
                    data: { 'id': id, 'value':value },
                    cache: false,
                    global: false,
                    success: function (result) {
                        if (result == "Success") {
                            Swal.fire(
                                'Record updated',
                                'The record has been updated.',
                                'success'
                            )
                            window.location.reload(true);
                        } else {
                            alert(result);
                        }


                    },
                    error: function (request) {
                        alert("Something went wrong.");

                    }
                });
   

            });
        });
    </script>}