@model Realestate_portal.Models.Tb_Options

@{
    ViewBag.Title = "Edit";
}

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Categories
    </h2>
</div>

<div class="grid grid-cols-12 gap-12 mt-5">
    <div class="intro-y col-span-12 lg:col-span-12">
        <!-- BEGIN: Basic Table -->
        <div class="intro-y box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200">
                <h2 class="font-medium text-base mr-auto">
                    Edit Category
                </h2>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                   <div class="widget-options">
                            <a class="btn btn-primary" href="@Url.Action("Index","Tb_Options")">Back to list</a>
                        </div>
                    


                </div>
            </div>
            <div class="grid grid-cols-12 gap-12 mt-5">
                <div class="intro-y col-span-12 lg:col-span-12">

                    @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID_option)

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="Type" name="Type" style="width:100%" value="@Model.Type">

                    </div>
                </div>

                <div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.ID_Company, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ID_Company)
                            @Html.ValidationMessageFor(model => model.ID_Company, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

             
                        <input type="submit" value="Save" class="btn btn-success mt-5 ml-4" />
                
            </div>
}


                </div>
            </div>
    </div>
</div>
</div>
